body{
	/*Allows to use :hover on any html tag using javascript*/
	behavior:url("/css/csshover.htc");
}

#head div{
	width:expression(this.parentNode.id&&this.parentNode.id=='head'?'940px':'');
	margin:expression(this.parentNode.id&&this.parentNode.id=='head'?'auto':'');
	position:expression(this.parentNode.id&&this.parentNode.id=='head'?'relative':'');
	z-index:expression(this.parentNode.id&&this.parentNode.id=='head'?'100':'');
}
#body{
	width:940px;
}
#footer{
	width:800px;
}
#footer div a{
	margin-right:expression(this.parentNode.nodeName=='DIV'?'15px':'');
}
#lang{
	border-left:2px solid #f7f7f7;
	border-right:2px solid #f7f7f7;
	border-top:2px solid #f7f7f7;
}

#menusimple li{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}
#menusimple li a{
	font-family:sans-serif;
}
#menusimple li:hover a,
#menusimple li.active a{
	color:#fff;
}
#menusimple li ul{
	width:180px;
	min-width:auto;
}
#menusimple li ul li a:hover,
#menusimple li ul li.active a,
#menusimple li ul li.active a:link,
#menusimple li ul li.active a:visited,
#menusimple li ul li.active a:active{
	color:#fff;
}

.titleicon{
	vertical-align:middle;
	margin-right:5px;
}

.mainlist div{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
	width:250px;
}
.mainlist div div{
	zoom:1;
	display:inline;
	line-height:1.5em;
	text-align:left;
	width:auto;
}
.mainlist div div{
	text-align:left;
}
.mainlist div:first-child + div {
	text-align:center;
}
.mainlist div:first-child + div + div {
	text-align:right;
}
.mainlist .ieimg{
	vertical-align:top;
	position:relative;
	top:4px;
	margin-right:10px;
	float:left;
	height:48px;
	width:48px;
}

.mainbutton a,
.mainbutton a:link,
.mainbutton a:visited,
.mainbutton a:active{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}
.mainbutton a:hover,
.mainbutton a:link:hover,
.mainbutton a:visited:hover,
.mainbutton a:active:hover{
	background-image:none;
	color:#fff;
}
.mainbutton .ieimg{
	margin-right:10px;
	margin-left:-52px;
	margin-bottom:-12px;
	height:42px;
	width:42px;
}

.start div{
	border-top:expression((this.parentNode.getElementsByTagName('DIV')[5]==this)?'1px solid #e0e0e0':'');
}
.start div div{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
	padding-top:25px;
	position:relative;
	padding-right:expression(this.parentNode.getElementsByTagName('DIV')[0]==this?'40px':'');
	border-right:expression(this.parentNode.getElementsByTagName('DIV')[0]==this?'1px solid #e0e0e0':'');
	padding-left:expression(this.parentNode.getElementsByTagName('DIV')[2]==this?'40px':'');
	border-left:expression(this.parentNode.getElementsByTagName('DIV')[2]==this?'1px solid #e0e0e0':'');
	margin-left:expression(this.parentNode.getElementsByTagName('DIV')[2]==this?'-1px':'');
}
.start div div div{
	padding-top:0px;
}
.start>div>div:first-child+div{
	/*This one is for IE7 only*/
	border-top:0px;
}

.resources div{
	border-top:expression((this.parentNode.getElementsByTagName('DIV')[3]==this)?'1px solid #e0e0e0':'');
}
.resources div div{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
	padding-top:25px;
	position:relative;
	padding-right:expression(this.parentNode.getElementsByTagName('DIV')[0]==this?'40px':'');
	border-right:expression(this.parentNode.getElementsByTagName('DIV')[0]==this?'1px solid #e0e0e0':'');
	padding-left:expression(this.parentNode.getElementsByTagName('DIV')[1]==this?'40px':'');
	border-left:expression(this.parentNode.getElementsByTagName('DIV')[1]==this?'1px solid #e0e0e0':'');
	margin-left:expression(this.parentNode.getElementsByTagName('DIV')[1]==this?'-1px':'');
}
.resources>div>div:first-child+div{
	/*This one is for IE7 only*/
	border-top:0px;
}

.downloadbox{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}
.downloadbox p{
	margin-top:expression(this.parentNode.getElementsByTagName('P')[0]==this?'0px':'20px');
	margin-bottom:expression(this.parentNode.getElementsByTagName('P')[0]==this?'20px':'0px');
}
.downloadbox a{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}
.downloadbox span{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;	
}

.alert-message a:hover,
.alert-message a:hover:link,
.alert-message a:hover:active,
.alert-message a:hover:visited{
	color:#fff;
}

.download span{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}

.index{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}

.boxexpand *{
	display:expression((this.parentNode.nodeName=='DIV')?'none':'');
}
.boxexpand h3{
	display:expression((this.parentNode.nodeName=='DIV'&&this.parentNode.getElementsByTagName('H3')[0]==this)?'block':'');
	margin:expression((this.parentNode.nodeName=='DIV'&&this.parentNode.getElementsByTagName('H3')[0]==this)?'20px 0px':'');
}
.boxexpand h3 a:link,
.boxexpand h3 a:visited,
.boxexpand h3 a:active{
	text-decoration:none;
}

.tablehalf div{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
	margin-bottom:30px;
}

.foundation{
	width:500px;
}

.devprojectlist li{
	display:expression((this.parentNode.childNodes[0]==this||this.parentNode.childNodes[1]==this||this.parentNode.childNodes[2]==this||this.parentNode.childNodes[3]==this)?'list-item':'');
}

.floatimg{
	position:relative;
}

.previewrow h2{
	font-size:115%;
}
.previewrow div{
	/*zoom and display are also required for IE7*/
	zoom:expression(this.parentNode.className=='previewrow'?'1':'');
	display:expression(this.parentNode.className=='previewrow'?'inline':'');
	position:expression(this.parentNode.className=='previewrow'?'relative':'');
	margin-right:expression(this.parentNode.className=='previewrow'?'12px':'');
	margin-bottom:expression(this.parentNode.className=='previewrow'?'12px':'');
	vertical-align:expression(this.parentNode.className=='previewrow'?'top':'');
}
.previewrow div a,
.previewrow div a:visited,
.previewrow div a:link,
.previewrow div a:active{
	zoom:1;
	display:inline;
	font-size:94%;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	width:72px;
	height:110px;
	vertical-align:top;
}
.previewrow div a img{
	display:block;
	margin:auto;
	margin-bottom:10px;
	width:72px;
	height:72px;
}
.previewrow div div{
	height:0px;
	position:absolute;
	left:-105px;
	right:-110px;
	bottom:100px;
	padding:0px;
	z-index:1000;
	overflow:hidden;
	width:280px;
}
.previewrow div div div{
	width:280px;
	position:static;
}
.previewrow div:hover div {
	height:auto;
}
.previewcol .previewrow{
	padding-left:expression(this.parentNode.firstChild==this?'0px':'');
}
.previewrow div div div.b1{
	background:url(/img/bubbletop.png) bottom center no-repeat;
	padding:0px;
	height:10px;
}
.previewrow div div div.b2{
	background:url(/img/bubblemiddle.png) bottom center repeat-y;
	padding:0px;
	padding-top:10px;
}
.previewrow div div div.b3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblebottom.png', sizingMethod='scale');
	padding:0px;
	height:64px;
}
.previewrow>div>div>div:first-child+div{
	padding:0px;
}
.previewrow div div div p{
	width:220px;
	position:relative;
	left:30px;
}
.previewrow div div div h2{
	font-size:130%;
	position:relative;
	left:30px;
	margin:0px;
}
.previewrow div div div span{
	/*FIXME can't get to make it work on IE6-7*/
	display:none;
	position:absolute;
	right:10px;
	top:10px;
}
.previewrow div div div span img{
	margin-left:4px;
}
.previewrow div div div p {
	font-size:95%;
	line-height:1.2em;
	margin:0px;
	padding:10px 0px;
}
.previewrow div div div p{
	text-align:expression((this.parentNode.getElementsByTagName('P')[1]==this)?'center':'');
}
.previewrow div div div p a,
.previewrow div div div p a:visited,
.previewrow div div div p a:link,
.previewrow div div div p a:active{
	display:inline;
	zoom:1;
	text-align:center;
	width:auto;
	height:auto;
	font-weight:bold;
	text-decoration:none;
	padding:5px 10px;
	color:#fff;
	background-color:#2c6fad;
}
.previewrow .walletwarning .b1{
	background-image:url(/img/bubblewarntop.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblewarntop.png', sizingMethod='scale');
}
.previewrow .walletwarning .b2{
	background-image:url(/img/bubblewarnmiddle.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblewarnmiddle.png', sizingMethod='scale');
}
.previewrow .walletwarning .b3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblewarnbottom.png', sizingMethod='scale');
}
.previewrow .walletwarning div p a,
.previewrow .walletwarning div p a:visited,
.previewrow .walletwarning div p a:link,
.previewrow .walletwarning div p a:active{
	background-color:#b95357;
	border:1px solid #a04246;
}
.previewrow .walletinfo .b1{
	background-image:url(/img/bubblewarntop.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubbleinfotop.png', sizingMethod='scale');
}
.previewrow .walletinfo .b2{
	background-image:url(/img/bubblewarnmiddle.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubbleinfomiddle.png', sizingMethod='scale');
}
.previewrow .walletinfo .b3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubbleinfobottom.png', sizingMethod='scale');
}
.previewrow .walletinfo div p a,
.previewrow .walletinfo div p a:visited,
.previewrow .walletinfo div p a:link,
.previewrow .walletinfo div p a:active{
	background-color:#ee9209;
	border:1px solid #d57700;
	
}

.press-volunteer div div{
	width: 400px;
	height: 150px;
	display: inline;
	zoom:1;
	margin-right: 20px;
	margin-bottom: 30px;
	vertical-align: top;
}
.press-volunteer div div img{
	float: left;
	margin-right: 30px;
}
.press-volunteer div div p{
	font-weight:expression((this.parentNode.getElementsByTagName('P')[0]==this)?'bold':'');
	color:expression((this.parentNode.getElementsByTagName('P')[0]==this)?'#2c6fad':'');
	margin:expression((this.parentNode.getElementsByTagName('P')[0]==this||this.parentNode.getElementsByTagName('P')[1]==this||this.parentNode.getElementsByTagName('P')[3]==this)?'0px':'');
	font-size:expression((this.parentNode.getElementsByTagName('P')[2]==this)?'80%':'');
}
.press-volunteer div p img{
	vertical-align: bottom;
}
.press-volunteer div p{
	height:expression((this.parentNode.getElementsByTagName('P')[1]==this&&this.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode&&this.parentNode.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode.parentNode)?'0px':'');
	overflow:expression((this.parentNode.getElementsByTagName('P')[1]==this&&this.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode&&this.parentNode.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode.parentNode)?'hidden':'');
	font-size:expression((this.parentNode.getElementsByTagName('P')[1]==this&&this.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode&&this.parentNode.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode.parentNode)?'85%':'');
	text-align:expression((this.parentNode.getElementsByTagName('P')[1]==this&&this.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode&&this.parentNode.parentNode.parentNode.getElementsByTagName('DIV')[0]==this.parentNode.parentNode)?'justify':'');
}

.press-faq div{
	width:400px;
	display:inline;
	zoom:1;
	vertical-align:top;
	text-align:left;
	margin-bottom:15px;
	margin-right:20px;
}
.press-faq div a{
	display:inline;
	zoom:1;
	font-weight:bold;
	margin-right:20px;
}
.press-faq li a{
	font-weight:normal;
}
.press-faq div div{
	height:0px;
	width:auto;
	margin:10px 0px 0px 0px;
	overflow:hidden;
	text-align:justify;
}
.press-faq div span p{
	margin-bottom:0px;
}

.press-materials div a {
	font-weight:bold;
	font-size:110%;
}
.press-materials div {
	display:inline;
	zoom:1;
	width:278px;
	vertical-align:top;
	position:relative;
}
.press-materials div div{
	height:250px;
	overflow:hidden;
}
.press-materials p a {
	font-weight:normal;
	font-size:100%;
	margin-right:10px;
	margin-bottom:10px;
	zoom:1;
}
.press-materials div div p span{
	font-weight:expression((this.parentNode.getElementsByTagName('SPAN')[0]==this)?'bold':'');
	display:expression((this.parentNode.getElementsByTagName('SPAN')[0]==this)?'block':'');
}

.press-news div{
	height:125px;
	margin-bottom:30px;
	width:700px;
}
.press-news div a img{
	float:left;
	margin-right:30px;
}
.press-news div a{
	display:block;
	margin-bottom:10px;
}
.press-news div p{
	font-size:80%;
}

/* Deprecated styles (should be removed when translations are updated) */

body.old #menu li{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}
body.old #menu li a,
body.old #menu li a:active,
body.old #menu li a:visited,
body.old #menu li a:link{
	font-family:sans-serif;
	border:2px solid #f7f7f7;
}
body.old #menu li:hover a,
body.old #menu li.active a{
	color: #000;
	background-color: #fff;
	border: 2px solid #ebebeb;
}

body.old #menufor li a,
body.old #menufor li a:active,
body.old #menufor li a:visited,
body.old #menufor li a:link{
	font-family:sans-serif;
}
body.old #menufor li:hover a,
body.old #menufor li.active a{
	color:#fff;
}
body.old #choose a,
body.old #before a,
body.old #support a{
	font-family:sans-serif;
}
body.old #choose .ieimg,
body.old #before .ieimg,
body.old #support .ieimg {
	vertical-align:middle;
	margin-right:8px;
	margin-left:-40px;
}
body.old #content{
	overflow:hidden;
	width:690px;
}
body.old #content.wide{
	width:920px;
}
body.old #head div{
	width:expression(this.parentNode.id&&this.parentNode.id=='head'?'1000px':'');
}
body.old #body{
	width:1000px;
}
body.old .downloadold span{
	/*This one is also required for IE7*/
	zoom:1;
	display:inline;
}
