---
lang: en
layout: base-en
id: development
title: Development - Bitcoin
---
<h1>Bitcoin development</h1>

<h2>Specification</h2>
<p>If you are interested in learning more about the technical details of Bitcoin, it is recommended you start with these documents.</p>
<ul>
  <li><a href="/bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System</a></li>
  <li><a href="https://en.bitcoin.it/wiki/Protocol_rules">Protocol rules</a></li>
  <li><a href="https://en.bitcoin.it/wiki/Category:Technical">Bitcoin Wiki</a></li>
</ul>

<h2>Core developers</h2>
<ul>
  <li>Satoshi Nakamoto - (<a href="/satoshinakamoto.asc">PGP</a>)</li>
  <li>Gavin Andresen - <a href="mailto:gavinandresen@gmail.com">gavinandresen@gmail.com</a> (<a href="/gavinandresen.asc">PGP</a>)</li>
  <li>Pieter Wuille - <a href="mailto:pieter.wuille@gmail.com">pieter.wuille@gmail.com</a> (<a href="/pieterwuille.asc">PGP</a>)</li>
  <li>Nils Schneider - <a href="mailto:nils.schneider@gmail.com">nils.schneider@gmail.com</a> (<a href="/schneider.asc">PGP</a>)</li>
  <li>Jeff Garzik - <a href="mailto:jgarzik@exmulti.com">jgarzik@exmulti.com</a> (<a href="/jgarzik-exmulti.asc">PGP</a>)</li>
  <li>Wladimir J. van der Laan - <a href="mailto:laanwj@gmail.com">laanwj@gmail.com</a> (<a href="/laanwj.asc">PGP</a>)</li>
  <li>Gregory Maxwell - <a href="mailto:gmaxwell@gmail.com">gmaxwell@gmail.com</a> (<a href="/gmaxwell.asc">PGP</a>)</li>
</ul>

<h2>Get involved</h2>
<p>Bitcoin development is open-source and any developer can contribute to the project. Everything you need is in the <a href="https://github.com/bitcoin/bitcoin">Github repository</a>. Please make sure to read and follow the development process described in the README, as well as to provide good quality code and respect all guidelines.</p>
<p>Development discussion takes place on github and the <a href="http://sourceforge.net/mailarchive/forum.php?forum_name=bitcoin-development">bitcoin-development</a> mailing list at sourceforge. Less formal development discussion happens on irc.freenode.net #bitcoin-dev (&rarr;<a href="" onclick="document.getElementById('chatbox').innerHTML='<iframe style=width:98%;min-width:400px;height:600px src=\'http://webchat.freenode.net/?channels=bitcoin-dev\' />';return false;">web interface</a>; <a href="http://bitcoinstats.com/irc/bitcoin-dev/logs/">logs</a>).</p>
<div id="chatbox" style="text-align:center;"></div>

<section id="contributors">
  <h2>Bitcoin-Qt contributors</h2>
  <p>(Ordered by number of commits)</p>
  <div class="contributors">{% for c in site.project.contributors %}
    <span>
      {% if c.gravatar_id %}<img class="icon" height="16" width="16" src="https://secure.gravatar.com/avatar/{{c.gravatar_id}}?s=140&amp;d=http%3A%2F%2Fbitcoin.org%2Fimg%2Fgravatar-140.png" alt="icon" />{% else %}<img class="icon" height="16" width="16" src="http://bitcoin.org/img/gravatar-140.png" alt="icon" />{% endif %}
      {% if c.login %}<a href="http://github.com/{{c.login}}">{{ c.name }} ({{ c.contributions }})</a>{% else %}{{ c.name }} ({{ c.contributions }}){% endif %}
    </span>{% endfor %}
  </div>
</section>
