---
layout: base
lang: en
id: version-history
title: Bitcoin-Qt version history
---
<div class="versiontext">
  <h1>Bitcoin-Qt version history</h1>
  <ul>
  {% for post in site.categories.releases %}
    <li>
      {{ post.date | date:"%Y-%m-%d" }} - <a href="#{{ post.version }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% for post in site.categories.releases %}
<div class="versiontext">
  <h1><a name="{{ post.version }}">{{ post.title }} <small>{{ post.date | date:"%e %B %Y" }}</small></a></h1>
  {% if post.src %}
  <p>
    <a href="{{ post.src }}">Full announcement (including signatures)</a>
  </p>
  {% endif %}
  {{ post.content }}
</div>
{% endfor %}
