---
layout: simple
---
    <div class="container">
      <section id="about">
        <h1>About Bitcoin</h1>
        <div class="row">
          <div class="span10">
            <h2>Introduction</h2>

            <p>Bitcoin is one of the first implementations of a concept called crypto-currency, which was first described in 1998 by Wei Dai on the cypherpunks mailing list. Building upon the notion that money is any object, or any sort of record, accepted as payment for goods and services and repayment of debts in a given country or socio-economic context, Bitcoin is designed around the idea of using cryptography to control the creation and transfer of money, rather than relying on central authorities.</p>

          </div>

          <div class="span6">
            <h2>Technology</h2>

            <p>If you are interested to learn more about the technical details of Bitcoin it is recommended to start with these documents:</p>

            <ul>
              <li><a href="bitcoin.pdf">Bitcoin: A Peer-to-Peer Electronic Cash System</a></li>
              <li><a href="https://en.bitcoin.it/wiki/Protocol_rules">Protocol rules</a></li>
              <li><a href="https://en.bitcoin.it/wiki/Category:Technical">Bitcoin wiki</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section id="features">
        <h1>Features</h1>

        <div class="row">
          <div class="span12">

            <p>These are the basic features of any Bitcoin-like network.</p>

            <ul>
              <li>Bitcoins can be transferred between arbitary nodes on the network.</li>
              <li>Transactions are irreversible.</li>
              <li>Double spending is prevented by using a <a href="https://en.bitcoin.it/wiki/Block_chain">block chain</a>.</li>
              <li>Transactions are broadcasted within seconds and <a href="https://en.bitcoin.it/wiki/FAQ#Why_do_I_have_to_wait_10_minutes_before_I_can_spend_money_I_received.3F">verified within 10 to 60 minutes</a>.</li>
              <li>Transactions are received while the computer is turned off.</li>
            </ul>

            <h2>Economic rules</h2>

            <p>These rules are enforced collectively by the network. While they will not change for Bitcoin, other digital currencies using Bitcoin's technology may change them to suit their needs.</p>

            <ul>
              <li>Hard limit of <a href="https://en.bitcoin.it/wiki/Controlled_Currency_Supply">about 21 million Bitcoins</a>.</li>
              <li>Bitcoins are divisible to 8 decimal places yielding a total of approx. 21×10<sup>14</sup> currency units.</li>
              <li>Transactions are cheap, and mostly free (<a href="https://en.bitcoin.it/wiki/Transaction_fees">Transaction fees</a>).</li>
            </ul>

            <h2>Features of the Bitcoin network</h2>

            <p>The network is running for more than 32 months yielding to some impressive security features.</p>

            <ul>
              <li>Long block chain (more than 140.000 blocks) with lots of processing power securing transactions.</li>
              <li>Only one major <a href="https://en.bitcoin.it/wiki/Incidents#Value_overflow">incident</a> (fixed in August 2010).</li>
            </ul>

          </div>
        </div>
      </section>

      <section id="contributors">
        <h1>Contributors <small>ordered by number of commits</small></h1>

        <table class="unstyled">
          <tr>
            {% for c in site.project.contributors %}
            <td>
                {% if c.gravatar_id %}
                    <img class="icon" height="16" width="16" href="https://secure.gravatar.com/avatar/{{c.gravatar_id}}?s=140&d=http%3A%2F%2Fbitcoin.org%2Fimg%2Fgravatar-140.png" />
                {% else %}
                    <img class="icon" height="16" width="16" href="http://bitcoin.org/img/gravatar-140.png"
                {% endif %}
                {% if c.login %}
                    <a href="http://github.com/{{c.login}}">
                        {{ c.name }} ({{ c.contributions }})
                    </a>
                {% else %}
                    {{ c.name }} ({{ c.contributions }})
                {% endif %}
            </td>
          {% cycle nil, nil, nil, nil, '</tr><tr>' %}
            {% endfor %}
          </tr>
        </table>
      </section>
    </div>
