---
layout: simple
title: Clients

clients:
- name: Bitcoin-Qt
  url: bitcoin.org
  image: bitcoin-qt.png
  description: |
    The original software written by Satoshi Nakamoto, the
    project's founder. If you aren't sure which program to
    pick, this is a good bet. This application is a
    peer-to-peer client that builds the backbone of the Bitcoin
    network. It is suited for enthusiasts, merchants, miners,
    developers and people who want to help support the project.
    People who run Bitcoin-Qt are first class network citizens
    and have the highest levels of security, privacy and
    stability. However, it can be very resource intensive and
    you should be willing to leave it running in the background
    so other computers can connect to yours. If your computer
    is low powered or you aren't willing to tolerate a 8-hour+
    initial start time, you should consider other clients.
    Cutting edge features tend to be implemented in other
    clients first.
  platforms:
  - name: linux
  - name: win
  - name: osx-uni
- name: MultiBit
  url: multibit.org
  image: multibit.png
  description: |
    MultiBit's primary focus is being fast and easy to use,
    even for people with no technical knowledge. It has a
    YouTube channel to help you learn the software, and
    includes helpful features such as an exchange rate ticker.
    MultiBit supports many languages such as German, Spanish
    and Greek. MultiBit synchronizes with the network much
    faster than Bitcoin-Qt and should be ready for you to use
    within a few minutes. This is a good choice for non
    technical users who want an easy to use experience,
    especially if you use a Mac.
  platforms:
  - name: linux
  - name: win
  - name: osx-uni
- name: Electrum
  url: ecdsa.org/electrum
  image: electrum.png
  description: |
    Electrum's focus is speed, with low resource usage and
    simplifying Bitcoin. You do not need to perform regular
    backups, because your wallet can be recovered from a secret
    phrase that you can memorize or write on paper. Startup
    times are instant because it operates in conjuction with
    high-performance servers that handle the most complicated
    parts of the Bitcoin system.
  platforms:
  - name: linux
  - name: win
  - name: android
- name: Bitcoin Wallet
  url: play.google.com/store/apps/details?id=de.schildbach.wallet
  image: bitcoin-wallet.png
  description: |
    Bitcoin Wallet is a standalone wallet for Android devices.
    Its primary focus is security, ease of use and being independant
    of centralized network components (servers). Thus, it uses the
    SPV (simple payment verification) model. It supports
    initiating transactions via QR code,  Bitcoin URIs or near-field
    communication (NFC). It has a useful currency conversion
    calculator and is localized to a dozen languages.
  platforms:
  - name: android
- name: Armory
  url: bitcoinarmory.com
  image: armory.png
  description: |
    Armory is a Bitcoin client that works on top of
    Bitcoin-Qt, expanding it with functionality for Bitcoin
    power users. It focuses on advanced features and security
    options, including "cold-storage" for maintaining Bitcoins
    on an offline computer to protect your funds from online
    threats. Armory supports multiple encrypted wallets, each
    of which only needs to be backed up once using a printer or
    removable media. Armory is a good choice for experienced
    Bitcoin users, seeking additional flexibility and security
    for managing their funds.
  platforms:
  - name: linux
  - name: win

proprietary-clients:

website-frontends:
- name: blockchain.info
  url: blockchain.info
  image: blockchain.info.png 
  description: |
    blockchain.info's My Wallet is a free service which you can use
    to make worldwide payments for less than 1 cent per transaction.
    They provide an easy interface for taking away the complexity
    of managing your Bitcoin wallet.
    Anonymous payments are possible using their recently unveiled
    mixing service.
---

    <div class="container">
      <section id="graphical-interfaces">
        <h1>Bitcoin Client Software</h1>
        <p>Bitcoin is a system of merchants, individuals, a network of participants and software. Together they maintain a mutually co-operating infrastructure without the need for authorities - a decentralised peer-to-peer system. A core layer of the Bitcoin system is the Bitcoin network through which people interact with it using Bitcoin client software. Below we list such software.</p>
        <p>Bitcoin clients are the base level of technology for conducting Bitcoin transactions. Clients usually store a collection of keys on that computer (often termed a wallet). These keys allow you to send and receive payments through the Bitcoin network. Nobody has access to these keys except yourself, and they must be kept secure. This is where clients differ, with ingenious strategies and ongoing research into making a user-friendly and secure client - not an easy task when both goals often conflict!</p>
        <div class="row">
          {% for client in page.clients %}
          {% cycle '', '', '', '</div><br><div class="row">' %}
            <div class="span-one-third">
              <h2><a href="http://{{ client.url }}">{{ client.name }}</a></h2>
              <img src="img/clients/{{ client.image }}" />
              <p>{{ client.description }}</p>
              <p>Website: <a href="http://{{ client.url }}">{{ client.url }}</a></p>
              <p>Platforms:
                {% for platform in client.platforms %}
                  <img src="img/ico-{{ platform.name }}.png" />
                {% endfor %}
              </p>
            </div>
          {% endfor %}
        </div>
      </section>

      <section id="proprietary">
        <h1>Proprietary Software</h1>
        <p><a href="http://en.wikipedia.org/wiki/Proprietary_software">Proprietary software</a> does not allow inspection of the sourcecode by users. These Bitcoin clients keep it hidden. This means users cannot examine how the program operates, and must trust the vendor to provide an authentic program. Users may be willing to eschew this security risk for any convenience and simplicity brought by placing responsibility with a vendor, instead of using <a href="http://en.wikipedia.org/wiki/Free_and_open_source_software">Free Software</a>.
        <div class="row">
          {% for client in page.proprietary-clients %}
          {% cycle '', '', '', '</div><br><div class="row">' %}
            <div class="span-one-third">
              <h2><a href="http://{{ client.url }}">{{ client.name }}</a></h2>
              <img src="img/clients/{{ client.image }}" />
              <p>{{ client.description }}</p>
              <p>Website: <a href="http://{{ client.url }}">{{ client.url }}</a></p>
              <p>Platforms:
                {% for platform in client.platforms %}
                  <img src="img/ico-{{ platform.name }}.png" />
                {% endfor %}
              </p>
            </div>
          {% endfor %}
        </div>
      </section>

      <section id="website-frontends">
        <h1>Website Frontends</h1>
        <p>These websites act like banks holding funds on your behalf. They often provide convenience and ease of use, at the expense of security. You are always trusting the operators of these sites. Many such sites have been compromised before, so users are advised to do their due diligence.</p>
        <p>This class of clients usually runs on all platforms, and only requires a web browser to operate them.</p>
        <div class="row">
          {% for client in page.website-frontends %}
          {% cycle '', '', '', '</div><br><div class="row">' %}
            <div class="span-one-third">
              <h2><a href="http://{{ client.url }}">{{ client.name }}</a></h2>
              <img src="img/clients/{{ client.image }}" />
              <p>{{ client.description }}</p>
              <p>Website: <a href="http://{{ client.url }}">{{ client.url }}</a></p>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>

