---
layout: index
section: index
title: P2P digital currency
DOWNLOAD_VERSION: 0.6.0
ALERT_CLASS:
ALERT:
---
    <div id="masthead">
      <div class="inner">
        <div class="container">
          {% if page.ALERT %}
            <div class="alert-message {{ page.ALERT_CLASS }}">
              {{ page.ALERT }}
            </div>
          {% endif %}
          <div class="row">
              <div class="span11 primarybox">
                <h1><img width=38 height=40 src="/img/logo_small.png" class="thelogo" /> Bitcoin <small>P2P Digital Currency</small></h1>
                <p>
                  Bitcoin is an experimental new digital currency that enables instant payments to anyone, anywhere in the world.
                  Bitcoin uses peer-to-peer technology to operate with no central authority: managing transactions and issuing money are carried out <a href="bitcoin.pdf">collectively by the network</a>.
                  Bitcoin is also the name of the open source software which enables the use of this currency.
                </p>
                <p>The <a href="https://en.bitcoin.it/wiki/Original_Bitcoin_client">software</a> is a community-driven open source project, released under the <a href="http://creativecommons.org/licenses/MIT/">MIT license</a>.</p>
                <p>
                  <a class="btn primary large" href="http://www.weusecoins.com/">Learn how to use Bitcoin &raquo;</a>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <a class="btn large" href="/about.html">Learn more about Bitcoin &raquo;</a>
                </p>
              </div>

              <div class="span5">
                <section id="download">
                  <h2>Download</h2>

                  <div>

                    <p>
                       <strong>Latest version:</strong> <a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-{{ page.DOWNLOAD_VERSION }}/">{{ page.DOWNLOAD_VERSION }}</a>
                    </p>

                    <ul class="unstyled">
                      <li><a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-{{ page.DOWNLOAD_VERSION }}/bitcoin-{{ page.DOWNLOAD_VERSION }}-win32.zip/download">
                        <img src="img/ico-win.png" class="icon"/>Windows (zip)</a> <small>~12MB</small>
                      </li>
                      <li><a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-{{ page.DOWNLOAD_VERSION }}/bitcoin-{{ page.DOWNLOAD_VERSION }}-win32-setup.exe/download">
                        <img src="img/ico-win.png" class="icon"/>Windows (exe)</a> <small>~9MB</small>
                      </li>
                      <li><a href="https://launchpad.net/~bitcoin/+archive/bitcoin">
                        <img src="img/ico-ubuntu.png" class="icon">Ubuntu PPA</a>
                      </li>
                      <li><a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-{{ page.DOWNLOAD_VERSION }}/bitcoin-{{ page.DOWNLOAD_VERSION }}-linux.tar.gz/download">
                        <img src="img/ico-tux.png" class="icon"/>Linux (tgz, 32/64-bit)</a> <small>~10MB</small>
                      </li>
                      <li><a href="http://sourceforge.net/projects/bitcoin/files/Bitcoin/bitcoin-{{ page.DOWNLOAD_VERSION }}/bitcoin-{{ page.DOWNLOAD_VERSION }}-macosx.dmg/download">
                        <img src="img/ico-osx-uni.png" class="icon">Mac OS X</a> <small>~11MB</small>
                      </li>
                      <li>or get the <a href="https://github.com/bitcoin/bitcoin">source code</a> (GitHub)</li>
                    </ul>
                  </div>
                </section>
              </div>
          </div>
        </div>
      </div>
    </div>

    {% include nav.html %}

    <div class="overview">
      <div class="container main">
        <div class="row">
          <div class="span4">
            <h2>Resources</h2>

            <ul>
              <li><a href="http://www.weusecoins.com">We Use Coins. Start here!</a></li>
              <li><a href="https://bitcoin.it/">Bitcoin Wiki</a>
                <ul>
                  <li><a href="https://bitcoin.it/wiki/FAQ">FAQ</a></li>
                  <li><a href="https://bitcoin.it/wiki/Trade">Sites That Accept Bitcoin</a></li>
                  <li><a href="https://en.bitcoin.it/wiki/Merchant_Howto">Merchant Howto</a></li>
                </ul>
              </li>
              <li><a href="http://bitcoincharts.com/">Bitcoin Charts / Markets</a></li>
            </ul>
          </div>
          <div class="span6">
            <h2>Developers</h2>

            <ul>
              <li>Satoshi Nakamoto</li>
              <li>Gavin Andresen - <a href="mailto:gavinandresen@gmail.com">gavinandresen@gmail.com</a> (<a href="/gavinandresen.asc">PGP</a>)</li>
              <li>Pieter Wuille - <a href="mailto:pieter.wuille@gmail.com">pieter.wuille@gmail.com</a> (<a href="/pieterwuille.asc">PGP</a>)</li>
              <li>Nils Schneider - <a href="mailto:nils.schneider@gmail.com">nils.schneider@gmail.com</a> (<a href="/schneider.asc">PGP</a>)</li>
              <li>Jeff Garzik - <a href="mailto:jgarzik@exmulti.com">jgarzik@exmulti.com</a> (<a href="jgarzik-exmulti.asc">PGP</a>)</li>
              <li>Wladimir J. van der Laan - <a href="mailto:laanwj@gmail.com">laanwj@gmail.com</a> (<a href="laanwj.asc">PGP</a>)</li>
              <li>Gregory Maxwell - <a href="mailto:gmaxwell@gmail.com">gmaxwell@gmail.com</a> (<a href="gmaxwell.asc">PGP</a>)</li>
            </ul>

            <p>Press mailing list for presentation and interview requests: <img class="email" src="img/bitcoin-press.png"/></p>
         </div>

        <div class="span6">
            <h2>Community</h2>
            <ul>
              <li><a href="http://bitcoin.stackexchange.com/">Bitcoin Stackexchange (Q&amp;A)</a></li>
              <li>Visit the unofficial <a
              href="http://www.google.com/?q=bitcoin+forums#sclient=psy&hl=en&site=&source=hp&q=bitcoin+forums&btnK=Google+Search&aq=f&aqi=&aql=&oq=bitcoin+forums">Bitcoin Forums</a></li>
              <li>Join the project's lively IRC channels on the <a href="http://freenode.net/">FreeNode</a> network or use the <a href="http://webchat.freenode.net/?channels=bitcoin&uio=d4">FreeNode Web IRC</a>.
                <ul>
                  <li><strong>#bitcoin</strong> (General Bitcoin-related)</li>
                  <li><strong>#bitcoin-dev</strong> (Development and technical)</li>
                  <li><strong>#bitcoin-otc-foyer</strong>  (Over The Counter exchange)</li>
                  <li><strong>#bitcoin-market</strong> (Live quotes from markets)</li>
                  <li><strong>#bitcoin-mining</strong> (GPU mining related)</li>
                </ul>
              </li>
              <li><a href="http://twitter.com/#!/search/bitcoin">Twitter Search</a></li>
              <li><a href="https://www.facebook.com/pages/Bitcoin-P2P-Cryptocurrency/134466763256650">Facebook Page</a></li>
            </ul>
          </div>
        </div>

      </div> <!-- /container -->

    </div> <!-- /overview -->

    <div class="container">
      <div class="row">
        <div class="span10">
          <section id="news">
            {% for post in site.categories.releases limit: 1 %}
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p><em>{{ post.date | date:"%e %B %Y" }}</em></p>
            {% if post.src %}
            <p>
              <a href="{{ post.src }}">Full announcement (including signatures)</a>
            </p>
            {% endif %}
            {{ post.content }}
            {% endfor %}
            <p><a class="btn" href="news.html">News archive</a></p>
          </section>
        </div>
        <!--
        <div class="span6">
          {% for event in site.categories.events limit: 1 %}
          <h1>{{ event.title }}</a></h1>
          {{ event.content }}
          {% endfor %}
        </div>
        -->
      </div>
    </div>
