---
layout: base
lang: en
id: index
title: Bitcoin
---
<script>
//Auto redirect to the appropriate language
var langs={};{% for lang in site.langs %}{% if lang[0] != page.lang %}langs['{{ lang[0] }}']=true;{% endif %}{% endfor %}
var lang=(navigator.language)?navigator.language:navigator.userLanguage;
lang=lang.split('_')[0];
if(!langs[lang])lang='en';
setTimeout(function(){window.location.href='/'+lang+'/';},200);
</script>
<h1>{%translate pagetitle%}</h1>
<p style="font-size:125%;">{%translate listintro%}</p>
<ul style="font-size:125%;">
  <li>{%translate list1%}</li>
  <li>{%translate list2%}</li>
  <li>{%translate list3%}</li>
  <li>{%translate list4%}</li>
</ul>
<p>{%translate desc%}</p>
<p>{%translate license%}</p>
