/*
Contains the opacity settings.
From Material Design
https://www.google.com/design/spec/style/color.html#color-ui-color-application
*/
@light-1: 1;
@light-2: 0.87; 
@light-3: 0.54; 
@light-4: 0.38; 
@light-5: 0.12;

@dark-base: 1;
@dark-text: 1;
@dark-secondary: 0.7;
@dark-disabled: 0.3;
@dark-dividers: 0.12;

// Instead of using opacity I use the colors to simulate opacity.
// Main refers to the main body of the document.  
@main-1: #000;
@main-2: #212121;
@main-3: #717171;
@main-4: #999999;
@main-5:#D8D8D8;