/*
contains the modular scale
based on the golden ratio
http://www.modularscale.com/
*/

$ms19: 107.594rem;	//1721.504
$ms18: 75.999rem;	//1215.984
$ms17: 66.498rem;	//1063.968
$ms16: 46.971rem;	//751.536
$ms15: 41.099rem;	//657.591
$ms14: 29.03rem;	//464.483
$ms13: 25.401rem;	//406.422
$ms12: 17.942rem;	//287.072
$ms11: 15.699rem;	//251.188
$ms10: 11.089rem;	//177.424
$ms9: 9.703rem;		//155.246
$ms8: 6.854rem;		//109.656
$ms7: 5.997rem;		//95.949
$ms6: 4.236rem;		//67.773
$ms5: 3.706rem;		//59.301
$ms4: 2.618rem;		//41.887
$ms3: 2.291rem;		//36.651
$ms2: 1.618rem;		//25.888
$ms1: 1.416rem;		//22.652
$ms0: 1rem; 		//16px
$ms-1: 0.875rem;	//14
$ms-2: 0.618rem;	//9.889
$ms-3: 0.541rem;	//8.653
$ms-4: 0.382rem;	//6.112
$ms-5: 0.334rem;	//5.348
$ms-6: 0.236rem;	//3.777
$ms-7: 0.207rem;	//3.312
$ms-8: 0.146rem;	//2.336
$ms-9: 0.128rem;	//2.048
$ms-10: 0.090rem;	//1.44
$ms-11: 0.079rem;	//1.264
$ms-12: 0.056rem;	//0.896

$mp1: ($ms0/16*1);
$mp2: ($ms0/16*2);
$mp3: ($ms0/16*3);
$mp4: ($ms0/16*4);
$mp5: ($ms0/16*5);
$mp6: ($ms0/16*6);
$mp7: ($ms0/16*7);
$mp8: ($ms0/16*8);
$mp9: ($ms0/16*9);
$mp10: ($ms0/16*10);