---
layout: base
id: bitcoin-for-press
mode: wide
---
<h1>{% translate pagetitle %}</h1>
    
<p class="summary">{% translate summary %}</p>

{% if page.lang == 'en' %}

<h2>{% translate volunteer %}</h2>

<div class="press-volunteer">

<div>
<p>{% translate volunteerdiscl %}</p>
<p>{% translate volunteerdiscltext %}</p>
</div>

<div>

<div>
<img src="/img/press/volunteer/vitalik_buterin.jpg" alt="Vitalik Buterin">
<p>Vitalik Buterin</p>
<p>Bitcoin Magazine Head Writer</p>
<p>
  <a href="http://www.bbc.co.uk/news/technology-20641465">2012-12-07 BBC News</a><br>
  <a href="http://tmp.virishi.net/OpenSkiesFeb2013-Bitcoin.pdf">2013-02-01 Open Skies</a><br>
  <a href="http://www.bbc.co.uk/news/technology-21964881">2013-04-28 BBC News</a>
</p>
<p><a href="mailto:vitalik@bitcoinmagazine.com">vitalik@bitcoinmagazine.com</a></p>
</div>

<div>
<img src="/img/press/volunteer/mike_caldwell.jpg" alt="Mike Caldwell">
<p>Mike Caldwell</p>
<p>Developer and Entrepreneur</p>
<p>
  <a href="http://www.bbc.com/future/story/20130412-bitcoin-and-the-illusion-of-money">2012-04-12 BBC News</a><br>
  <a href="http://www.businessweek.com/magazine/content/11_26/b4234041554873.htm">2011-06-16 BusinessWeek</a><br>
  <a href="http://www.wired.com/wiredenterprise/2013/03/bitcoin-ring/">2013-03-18 Wired</a>
</p>
<p><a href="mailto:mcaldwell@swipeclock.com">mcaldwell@swipeclock.com</a></p>
</div>

<div>
<img src="/img/press/volunteer/tony_gallippi.jpg" alt="Tony Gallippi">
<p>Tony Gallippi</p>
<p>CEO Bitpay</p>
<p>
  <a href="http://www.youtube.com/watch?v=F-gHiKJ5Lao">2012-03-18 Florida Tech Journal</a><br>
  <a href="http://www.youtube.com/watch?v=hH4rH6wu25U">2012-12-16 Expanding the Bitcoin Business Community</a><br>
</p>
<p><a href="mailto:jan@bitpay.com">jan@bitpay.com</a></p>
</div>

<div>
<img src="/img/press/volunteer/jeff_garzik.jpg" alt="Jeff Garzik">
<p>Jeff Garzik</p>
<p>Developer</p>
<p>
  <a href="http://www.bbc.co.uk/news/technology-21964881">2013-03-28 BBC</a><br>
  <a href="http://online.wsj.com/article/SB10001424127887324373204578374611351125202.html">2013-03-21 Wall Street Journal</a><br>
  <a href="http://money.cnn.com/2013/03/28/investing/bitcoin-cyprus/">2013-03-08 CNNMoney</a><br>
</p>
<p><a href="mailto:jgarzik@exmulti.com">jgarzik@exmulti.com</a></p>
</div>

<div>
<img src="/img/press/volunteer/mike_hearn.jpg" alt="Mike Hearn">
<p>Mike Hearn</p>
<p>Developer</p>
<p>
  <a href="http://www.economist.com/news/finance-and-economics/21576149-even-if-it-crashes-bitcoin-may-make-dent-financial-world-mining-digital">2013-04-13 The Economist</a><br>
  <a href="http://www.youtube.com/watch?v=mD4L7xDNCmA">2012-09-27 Bitcoin Conference</a><br>
  <a href="http://www.scientificamerican.com/article.cfm?id=3-years-in-bitcoin-digital-money-gains-momentum&page=1">2012-10-08 Scientific American</a>
</p>
<p><a href="mailto:mike@plan99.net">mike@plan99.net</a></p>
</div>

<div>
<img src="/img/press/volunteer/arwa_mahdawi.jpg" alt="Arwa Mahdawi">
<p>Arwa Mahdawi</p>
<p>Consultant and Journalist</p>
<p>
  <a href="http://www.youtube.com/watch?v=YxsA2i5cF78">2013-03-30 - Sky News</a><br>
  <a href="http://www.guardian.co.uk/business/2013/mar/04/bitcoin-currency-of-vice">2013-03-04 - Guardian</a><br>
  <br>
</p>
<p><img src="/img/press/volunteer/arwa_mahdawi_email.png" alt="mailing list"></p>
</div>

<div>
<img src="/img/press/volunteer/trace_mayer.jpg" alt="Trace Mayer">
<p>Trace Mayer, J.D.</p>
<p>Entrepreneur and Blogger</p>
<p>
  <a href="http://www.youtube.com/watch?v=TfknveaWQ_4">2013-04-05 Fox Business</a><br>
  <a href="http://www.youtube.com/watch?v=aaOsM3RUNG8">2013-03-26 BBC Newsnight</a><br>
  <a href="http://www.youtube.com/watch?v=OtN9YUvh_XM">2012-09-15 FMT: Bitcoin Security</a>
</p>
<p><a href="mailto:media@howtovanish.com">media@howtovanish.com</a></p>
</div>

<div>
<img src="/img/press/volunteer/joerg_platzer.jpg" alt="Joerg Platzer">
<p>Joerg Platzer</p>
<p>Crypto economist</p>
<p>
  <a href="http://www.guardian.co.uk/technology/2013/apr/26/bitcoins-gain-currency-in-berlin">2013-04-26 The Guardian</a><br>
  <a href="http://www.youtube.com/watch?v=dyUmKqPVQ6s">2013-04-11 Russia Today</a><br>
  <a href="http://videos.arte.tv/de/videos/eine-internet-waehrung-aus-algorithmen--6988468.html">2012-11-11 arte.tv (Deutsch)</a>
</p>
<p><a href="mailto:jp@cecg.biz">jp@cecg.biz</a></p>
</div>

</div>

<div>

<p>You can contact the press mailing list: <img src="/img/press/volunteer/mailinglist.png" alt="mailing list"></p>

</div>

</div>

{% endif %}

<h2>{% translate faq %}</h2>

<div class="press-faq">

<div>
  <a href="#" onclick="faqshow(event);">{% translate faqwhat %}</a>
  <div>
  <p>{% translate faqwhattxt %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqacquire %}</a>
  <div>
  <ul>
    <li>{% translate faqacquiretxt1 %}</li>
    <li>{% translate faqacquiretxt2 %}</li>
    <li>{% translate faqacquiretxt3 %}</li>
    <li>{% translate faqacquiretxt4 %}</li>
    <li>{% translate faqacquiretxt5 %}</li>
  </ul>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqhow %}</a>
  <div>
  <p>{% translate faqhowtxt %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqmining %}</a>
  <div>
  <p>{% translate faqminingtxt1 %}</p>
  <p>{% translate faqminingtxt2 %}</p>
  <p>{% translate faqminingtxt3 %}</p>
  <p>{% translate faqminingtxt4 %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqdifficult %}</a>
  <div>
  <p>{% translate faqdifficulttxt %}</p>
  <p><img src="/img/press/faq/send_bitcoin_demo.jpg" style="height:300px;width:200px;" alt="Screenshot"></p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqadvantage %}</a>
  <div>
  <ul>
    <li>{% translate faqadvantagetxt1 %}</li>
    <li>{% translate faqadvantagetxt2 %}</li>
    <li>{% translate faqadvantagetxt3 %}</li>
    <li>{% translate faqadvantagetxt4 %}</li>
    <li>{% translate faqadvantagetxt5 %}</li>
    <li>{% translate faqadvantagetxt6 %}</li>
  </ul>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqdisadvantage %}</a>
  <div>
  <ul>
    <li>{% translate faqdisadvantagetxt1 %}</li> 
    <li>{% translate faqdisadvantagetxt2 %}</li>
    <li>{% translate faqdisadvantagetxt3 %}</li>
  </ul>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqsecure %}</a>
  <div>
  <p>{% translate faqsecuretxt %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqlegal %}</a>
  <div>
  <p>{% translate faqlegaltxt1 %}</p>
  <p>{% translate faqlegaltxt2 %}</p>
  <p>{% translate faqlegalresource %}</p>
  <ul>
    <li><a href="http://www.ecb.int/pub/pdf/other/virtualcurrencyschemes201210en.pdf">Virtual Currency Schemes - European Central Bank</a></li>
    <li><a href="http://www.fincen.gov/statutes_regs/guidance/pdf/FIN-2013-G001.pdf">Application of FinCEN’s Regulations to Persons Administering, Exchanging, or Using Virtual Currencies</a></li>
    <li><a href="http://www.wired.com/images_blogs/threatlevel/2012/05/Bitcoin-FBI.pdf">Bitcoin Virtual Currency: Unique Features Present Distinct Challenges for Deterring Illicit Activity</a></li>
  </ul>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqtax %}</a>
  <div>
  <p>{% translate faqtaxtxt %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqillegal %}</a>
  <div>
  <p>{% translate faqillegaltxt1 %}</p>
  <p>{% translate faqillegaltxt2 %}</p>
  <p>{% translate faqillegaltxt3 %}</p>
  <p>{% translate faqillegaltxt4 %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqbubble %}</a>
  <div>
  <p>{% translate faqbubbletxt1 %}</p>
  <p>{% translate faqbubbletxt2 %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqjune %}</a>
  <div>
  <p>{% translate faqjunetxt %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqprice %}</a>
  <div>
  <p>{% translate faqpricetxt %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqponzi %}</a>
  <div>
  <p>{% translate faqponzitxt1 %}</p>
  <p>{% translate faqponzitxt2 %}</p>
  <p>{% translate faqponzitxt3 %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqsatoshi %}</a>
  <div>
  <p>{% translate faqsatoshitxt %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqworthless %}</a>
  <div>
  <p>{% translate faqworthlesstxt1 %}</p>
  <p>{% translate faqworthlesstxt2 %}</p>
  <p>{% translate faqworthlesstxt3 %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqvirtual %}</a>
  <div>
  <p>{% translate faqvirtualtxt1 %}</p>
  <p>{% translate faqvirtualtxt2 %}</p>
  <p>{% translate faqvirtualtxt3 %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqtrust %}</a>
  <div>
  <p>{% translate faqtrusttxt1 %}</p>
  <p>{% translate faqtrusttxt2 %}</p>
  <p>{% translate faqtrusttxt3 %}</p>
  </div>
</div>
<div>
  <a href="#" onclick="faqshow(event);">{% translate faqanonymous %}</a>
  <div>
  <p>{% translate faqanonymoustxt1 %}</p>
  <p>{% translate faqanonymoustxt2 %}</p>
  <p>{% translate faqanonymoustxt3 %}</p>
  </div>
</div>
<p>{% translate faqmore %}</p>

</div>

<div class="press-materials">

<div>
<h2>{% translate materialvideo %}</h2>
<div>
<a href="https://www.youtube.com/watch?v=Um63OQz3bjo&amp;feature=player_embedded" target="_blank"><img src="/img/press/video/whatisbitcoin.jpg" alt="what is Bitcoin"></a><br>
<p>
<a href="https://www.youtube.com/watch?v=Um63OQz3bjo&amp;feature=player_embedded" target="_blank">{% translate materialvideoyoutube %}</a>
<a href="https://www.weusecoins.com/en/materials" target="_blank">{% translate materialvideoformat %}</a>
</p>
</div>
</div>

<div>
<h2>{% translate materialpicture %}</h2>
<div>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiUDV2V29pNDB6eHc" target="_blank"><img src="/img/press/picture/bitcoin_logo_plain.png" alt="Bitcoin logo"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiM0hFSFJTTVhHbFE" target="_blank"><img src="/img/press/picture/bitcoin_logo_qt.png" alt="Bitcoin Qt logo"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B4t9VJLm_PWhckxzRm5vS2ZtOWM" target="_blank"><img src="/img/press/picture/bitcoin_kiez.jpg" alt="Bitcoin Kiez sign"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiYWFLZ0gzeUYydjA" target="_blank"><img src="/img/press/picture/bitcoin_logo_3d.png" alt="3D Bitcoin arwork by Eivind Nag" title="3D Bitcoin arwork by Eivind Nag"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiS1Q3ODM0akhncVE" target="_blank"><img src="/img/press/picture/bitcoin_logo_euro.png" alt="Bitcoin euro"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBieVd5SUlTUkExQ3M" target="_blank"><img src="/img/press/picture/bitcoin_logo_gold.png" alt="Bitcoin gold"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiMHdXSndqdjFOcUU" target="_blank"><img src="/img/press/picture/bitcoin_logo_3d_light.png" alt="Bitcoin 3D" title="3D Bitcoin arwork by Eivind Nag"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiTUpPekVOVjFoVnM" target="_blank"><img src="/img/press/picture/bitcoin_logo_3d_perspective.png" alt="Bitcoin 3D" title="3D Bitcoin arwork by Eivind Nag"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiTlNORS0yblpxSWs" target="_blank"><img src="/img/press/picture/bitcoin_logo_3d_wood.png" alt="Bitcoin 3D" title="3D Bitcoin arwork by Eivind Nag"></a>
<a href="https://docs.google.com/uc?export=view&amp;id=0B8gy4-2HDZBiS0s4VXhlS3VJRzA" target="_blank"><img src="/img/press/picture/bitcoin_casascius_holograph.png" alt="Bitcoin holograph coin"></a>
</div>
<a href="#" onclick="materialshow(event);">{% translate materialpicturemore %}</a>
</div>

<div>
<h2>{% translate materialquote %}</h2>
<div>
<p>{% translate quotesatoshi %}</p>
<p>{% translate quotetonygallippi %}</p>
<p>{% translate quotedankaminsky %}</p>
<p>{% translate quotechrisdixon %}</p>
<p>{% translate quotejeremyliew %}</p>
<p>{% translate quotewencescasares %}</p>
<p>{% translate quotetylerwinklevoss %}</p>
<p>{% translate quotemaxkeiser %}</p>
</div>
<a href="#" onclick="materialshow(event);">{% translate materialquotemore %}</a>
</div>

</div>

{% if page.lang == 'en' %}

<h2>{% translate presscoverage %}</h2>

<div class="press-news">

<div>
  <a href="http://www.guardian.co.uk/technology/2013/apr/26/bitcoins-gain-currency-in-berlin"><img src="/img/press/news/news_guardian.jpg" alt="Preview"></a>
  <a href="http://www.guardian.co.uk/technology/2013/apr/26/bitcoins-gain-currency-in-berlin">The Berlin streets where you can shop with virtual money</a>
  <a>2013-04-26</a>
  <p>The Guardian meets the Bitcoin Kiez, among the first point-of-sales shops and restaurants to accept Bitcoin.</p>
</div>
<div>
  <a href="http://www.youtube.com/watch?v=QIvxarOmRGk"><img src="/img/press/news/news_reuters.jpg" alt="Preview"></a>
  <a href="http://www.youtube.com/watch?v=QIvxarOmRGk">Reuters, A Nasdaq of Bitcoin?</a>
  <a>2013-04-12</a>
  <p>Fred Wilson, co-founder of Union Square Ventures, says the idea of Bitcoin as an investment asset "is quite interesting".</p>
</div>
<div>
  <a href="http://www.youtube.com/watch?v=6SLPy89gPE0"><img src="/img/press/news/news_bloomberg.jpg" alt="Preview"></a>
  <a href="http://www.youtube.com/watch?v=6SLPy89gPE0">Bloomberg on the future of Bitcoin currency</a>
  <a>2013-04-11</a>
  <p>Convergex's Nicholas Colas and Holland & Company's Michael Holland discuss the future of Bitcoin on Bloomberg Television's.</p>
</div>
<div>
  <a href="http://www.youtube.com/watch?v=TfknveaWQ_4"><img src="/img/press/news/news_fox_trace.jpg" alt="Preview"></a>
  <a href="http://www.youtube.com/watch?v=TfknveaWQ_4">FOX Business with Trace Mayer</a>
  <a>2013-04-05</a>
  <p>Is Bitcoin for real? Bitcoin investor Trace Mayer explains the virtual currency.</p>
</div>
<div>
  <a href="http://www.youtube.com/watch?v=aaOsM3RUNG8"><img src="/img/press/news/news_bbc.jpg" alt="Preview"></a>
  <a href="http://www.youtube.com/watch?v=aaOsM3RUNG8">BBC Newsnight with Trace Mayer</a>
  <a>2013-03-26</a>
  <p>BBC Newsnight's veteran journalist Jeremy Paxman investigating Bitcoin with guests Daniel Knowles from The Economist and Trace Mayer.</p>
</div>

</div>

{% endif %}
