---
layout: base
id: community
---
{% case page.lang %}
{% when 'ar' or 'es' or 'fa' or 'pl' or 'ru' or 'zh_TW' %}

<h1>{% translate pagetitle %}</h1>
<ul class="resourcesold">
<li>{% translate foundation %}</li>
{% case page.lang %}
{% when 'ar' or 'es' or 'fa' or 'ru' %}
{% else %}
<li>{% translate wikiportal %}</li>
{% endcase %}
<li>{% translate stackexchange %}</li>
<li>{% translate bitcointalk %}</li>
<li>{% translate ircjoin %}
  <ul>
    <li><strong>#bitcoin</strong> {% translate chanbitcoin %}</li>
    <li><strong>#bitcoin-dev</strong> {% translate chandev %}</li>
    <li><strong>#bitcoin-otc</strong>  {% translate chanotc %}</li>
    <li><strong>#bitcoin-market</strong> {% translate chanmarket %}</li>
    <li><strong>#bitcoin-mining</strong> {% translate chanmining %}</li>
    {% if page.lang == 'es' %}
    <li><strong>#bitcoin-ar</strong> (Comunidad Bitcoin Argentina)</li>
    <li><strong>#bitcoin-es</strong> (Comunidad Bitcoin en español)</li>
    <li><strong>#bitcoin-otc-ar</strong> (Mercado OTC de Bitcoin en Argentina)</li>
    {% endif %}
  </ul>
</li>
{% case page.lang %}
{% when 'ar' or 'es' or 'ru' %}
{% else %}
<li>{% translate linkgoogle %}</li>
{% endcase %}
<li>{% translate linktwitter %}</li>
<li>{% translate facebook %}</li>
<li>{% translate reddit %}</li>
{% case page.lang %}
{% when 'ar' or 'es' or 'fa' or 'ru' %}
{% else %}
<li>{% translate linkmeetup %}</li>
{% endcase %}
{% if page.lang == 'es' %}
<li><a href="http://www.forobtc.com/">Foro Bitcoin en Español</a></li>
{% endif %}
{% if page.lang == 'pl' %}
<li><a href="https://forum.bitcoin.pl/">Polski portal bitcoin.pl</a></li>
{% endif %}
</ul>

{% else %}

<h1>{% translate pagetitle %}</h1>
<p class="summary">{% translate pagedesc %}</p>

<div class="resources">
<div>
  <div>
    <h2><img src="/img/ico_invoice.svg" class="titleicon" alt="Icon">{% translate forums %}</h2>
    <p><a href="https://bitcoinfoundation.org/forum/">{% translate foundation %}</a></p>
    <p>{% translate bitcointalk %}</p>
    <p><a href="http://www.reddit.com/r/Bitcoin/">{% translate reddit %}</a></p>
    <p><a href="http://bitcoin.stackexchange.com/">{% translate stackexchange %}</a></p>
  </div><div>
    <h2><img src="/img/ico_network.svg" class="titleicon" alt="Icon">{% translate social %}</h2>
    <p>{% translate linkgoogle %}</p>
    <p><a href="https://twitter.com/search?q=bitcoin">{% translate linktwitter %}</a></p>
    <p>{% translate facebook %}</p>
  </div>
</div>
<div>
  <div>
    <h2><img src="/img/ico_multi.svg" class="titleicon" alt="Icon">{% translate meetups %}</h2>
    <p><a href="/{{ page.lang }}/{% translate events url %}">{% translate meetupevents %}</a></p>
    <p><a href="http://bitcoin.meetup.com/">{% translate meetupgroup %}</a></p>
    <p><a href="https://bitcointalk.org/index.php?board=86.0">{% translate meetupbitcointalk %}</a></p>
    <p><a href="https://en.bitcoin.it/wiki/Meetups">{% translate meetupwiki %}</a></p>
  </div><div>
    <h2><img src="/img/ico_help.svg" class="titleicon" alt="Icon">{% translate irc %}</h2>
    <p>{% translate ircjoin %}</p>
    <p>#bitcoin {% translate chanbitcoin %}</li>
    <p>#bitcoin-dev {% translate chandev %}</li>
    <p>#bitcoin-otc  {% translate chanotc %}</li>
    <p>#bitcoin-market {% translate chanmarket %}</li>
    <p>#bitcoin-mining {% translate chanmining %}</li>
    {% if page.lang == 'fr' %}
    <p>#bitcoin-fr (Le Bitcoin en général, français)</li>
    {% endif %}
    {% if page.lang == 'es' %}
    <p>#bitcoin-ar (Comunidad Bitcoin Argentina)</li>
    <p>#bitcoin-es (Comunidad Bitcoin en español)</li>
    <p>#bitcoin-otc-ar (Mercado OTC de Bitcoin en Argentina)</li>
    {% endif %}
  </div>
</div>
</div>

{% case page.lang %}
{% when 'ar' or 'de' or 'es' or 'fa' or 'fr' or 'id' or 'it' or 'nl' or 'pl' or 'ru' or 'tr' or 'zh_CN' or 'zh_TW' %}
<h2>{% translate nonprofit community en %}</h2>
{% else %}
<h2>{% translate nonprofit %}</h2>
{% endcase %}
<div class="resourcesorg">
<div>
  <div>
    <h3><img src="/img/flags/ALL.png">International</h3>
    <p>
      <a href="https://bitcoinfoundation.org/">The Bitcoin Foundation</a>
    </p>
  </div>
  <div>
    <h3><img src="/img/flags/AR.png">Argentina</h3>
    <p>
      <a href="http://www.bitcoinargentina.org/">Fundación Bitcoin Argentina</a>
    </p>
  </div>
  <div>
    <h3><img src="/img/flags/AU.png">Australia</h3>
    <p>
      <a href="https://plus.google.com/111744062512117128149/posts">The Bitcoin Association of Australia</a>
    </p>
  </div>
</div>
<div>
  <div>
    <h3><img src="/img/flags/AT.png">Austria</h3>
    <p>
      <a href="http://bitcoin-austria.at/">Bitcoin Austria</a>
    </p>
  </div>
  <div>
    <h3><img src="/img/flags/CA.png">Canada</h3>
    <p>
      <a href="http://bitcoinembassy.ca/">Bitcoin Embassy</a><br>
      <a href="http://www.bitcoinalliance.ca/">Bitcoin Alliance of Canada</a>
    </p>
  </div>
  <div>
    <h3><img src="/img/flags/DE.png">Germany</h3>
    <p>
      <a href="http://www.bundesverband-bitcoin.de/">Bundesverband Bitcoin e.V.</a>
    </p>
  </div>
</div>
<div>
  <div>
    <h3><img src="/img/flags/IL.png">Israel</h3>
    <p>
      <a href="http://www.bitcoin.org.il/">איגוד הביטקוין הישראלי</a>
    </p>
  </div>
  <div>
    <h3><img src="/img/flags/IT.png">Italy</h3>
    <p>
      <a href="https://www.bitcoin-italia.org/">Bitcoin Foundation Italia</a>
    </p>
  </div>
  <div>
    <h3><img src="/img/flags/NL.png">Netherlands</h3>
    <p>
      <a href="http://stichtingbitcoin.nl/">Stichting Bitcoin Nederland</a>
    </p>
  </div>
</div>
<div>
  <div>
    <h3><img src="/img/flags/CH.png">Switzerland</h3>
    <p>
      <a href="http://bitcoinassociation.ch/">Bitcoin Association Switzerland</a>
    </p>
  </div>
</div>
</div>

<div class="introlink">{% translate wikiportal %}</div>

{% endcase %}
