---
layout: base
id: resources
---
<h1>{% translate pagetitle %}</h1>
<p class="summary">{% translate pagedesc %}</p>

<div class="resources">
<div>
  <div>
    <h2><img src="/img/ico_simple.svg" class="titleicon" alt="Icon">{% translate useful %}</h2>
    <p><a href="https://bitcoinfoundation.org/">Bitcoin Foundation</a></p>
    <p>{% translate linkwiki %}</p>
    <p><a href="https://www.weusecoins.com/">WeUseCoins.com</a></p>
    <p><a href="http://www.bitcoinmining.com/">BitcoinMining.com</a></p>
  </div><div>
    <h2><img src="/img/ico_invoice.svg" class="titleicon" alt="Icon">{% translate directories %}</h2>
    <p><a href="/{{ page.lang }}/{% translate choose-your-wallet url %}">{% translate linkwallets %}</a> - bitcoin.org</p>
    <p><a href="http://usebitcoins.info/">{% translate linkmerchants %}</a> - usebitcoins.info</p>
    <p><a href="http://howtobuybitcoins.info/">{% translate linkexchanges %}</a> - howtobuybitcoins.info</p>
    <p><a href="https://en.bitcoin.it/wiki/Category:Shopping_Cart_Interfaces">{% translate linkmerchantstools %}</a> - en.bitcoin.it</p>
  </div>
</div>
<div>
  <div>
    <h2><img src="/img/ico_spread.svg" class="titleicon" alt="Icon">{% translate news %}</h2>
    {% if page.lang == 'bg' %}<p><a href="http://hash.bg/">Hash.bg</a></p>{% endif %}
    {% if page.lang == 'fr' %}<p><a href="http://francebitcoin.com/">France Bitcoin</a></p>{% endif %}
    {% if page.lang == 'ru' %}<p><a href="http://btcrussia.ru/">BTCRussia</a></p>{% endif %}
    <p><a href="http://www.coindesk.com/">CoinDesk</a></p>
    <p><a href="http://bitcoinmagazine.com/">Bitcoin Magazine</a></p>
    <p><a href="https://bitcointalk.org/index.php?board=77.0">Bitcoin Forum / Press</a></p>
  </div><div>
    <h2><img src="/img/ico_market.svg" class="titleicon" alt="Icon">{% translate charts %}</h2>
    <p><a href="http://blockchain.info/charts">Blockchain.info</a></p>
    <p><a href="http://blockexplorer.com/">Blockexplorer.com</a></p>
    <p><a href="http://bitcoincharts.com/charts/">Bitcoincharts.com</a></p>
  </div>
</div>
{% case page.lang %}
{% when 'ar' or 'fa' or 'id' or 'it' or 'nl' or 'tr' or 'zh_TW' %}
{% else %}
<div>
  <div>
    <h2><img src="/img/ico_doc.svg" class="titleicon" alt="Icon">{% translate documentaries %}</h2>
    <p><a href="http://bitcoinfilm.org/">BitcoinFilm.org</a></p>
  </div><div>
    <h2><img src="/img/ico_solve.svg" class="titleicon" alt="Icon">{% translate learn %}</h2>
    <p><a href="http://letstalkbitcoin.com/">Let's Talk Bitcoin</a></p>
    <p><a href="https://www.khanacademy.org/economics-finance-domain/core-finance/money-and-banking/bitcoin/v/bitcoin-what-is-it">Khan Academy</a></p>
  </div>
</div>
{% endcase %}
</div>
