.builder__content__title--long(support-bitcoin);
.builder__text__standard(support-bitcoin);

.content_support-bitcoin--items ul {
  padding-left: 9.703rem;
  padding-right: 1.618rem;
}
.content_support-bitcoin--items ul li {
  border-left: 0;
}
.content_support-bitcoin--items--list li:before {
  font-size: @ms4;
  position: absolute;
  margin-left: -@ms4;
  margin-top: -3px;
  z-index: 1;
  content: "-";
  color: @orange-500;
  font-weight: 700;
  border-radius: 3px;
  opacity: @light-2;
}

.content_support-bitcoin--items--list {
  padding-left: @ms0;
  padding-right: @ms0;
  margin: @ms1 0 0;
  @media screen and (min-width: 550px ) {
    padding-left: @ms9;
    padding-right: @ms2;
  }
}
.content_support-bitcoin--items--list li {
  margin: @ms2 0;
  padding-left: @ms4;
  border-left: 0;
}
