.content_homepage {
  max-width: @ms16;
  margin: 0 auto;
  .card-2;
  background: @gray-50;
  border-radius: @ms-5;
}

.content_homepage--wrap {
  background: url(/img/bitcoin/bg.png) no-repeat center;
  background-size: cover;
  border-top-left-radius: @ms-5;
  border-top-right-radius: @ms-5;
  border-top: @orange-500 @ms-5 solid;
}

.content_homepage--intro {
  text-align: center;
  max-width: @ms13;
  margin: 0 auto;
  padding: @ms4 @ms4 @ms5;
  font-size: @ms1;
  line-height: @ms2;
}

.content_homepage--video {
  padding-bottom: @ms8;
  padding-top: @ms4;
  text-align: center;
  img {
    width: @ms5;
  }
}

.content_homepage--video--button {
  width: @ms7;
  height: @ms7;
  display: inline-block;
  border-radius: 50%;
  border: @ms-2 #000 solid;
  opacity: @light-2;
  .card-1;
  img {
    width: @ms3;
    padding-top: @ms2 + @mp3;
    padding-left: @mp8;
  }
}

.content_homepage--list {
  font-size: 0;
  background: @gray-100;
  border-top: 1px @gray-300 solid;
  border-bottom: 1px @gray-300 solid;
}

.content_homepage--item {
  display: inline-block;
  font-size: @ms-1;
  padding: @ms2 0;
  width: 33.3%;
  min-height: @ms9;
  vertical-align: top;
  text-align: center;
  border-right: 1px @gray-300 solid;
  box-sizing: border-box;
  &:last-child {
    border-right: 0;
  }
  span {
    display: inline-block;
    padding: @ms-3 @ms-1;
  }
}
.content_homepage--image {
  display: block;
  width: 100%;
  img {
    width: @ms4;
  }
}
.content_homepage--action--wrap {
  text-align: center;
  width: 100%;
}

.content_homepage--action {
  display: inline-block;
  margin: @ms3 auto;
  text-align: center;
  border-radius: @ms-5;
  font-weight: 500;
  background: linear-gradient(@teal-400,@teal-500 85%,@teal-500 90%,@teal-500);
  .card-2;
}
.content_homepage--action--text {
  font-size: @ms0;
  color: @white !important;
  display: block;
  padding: @ms2 @ms1;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.content_homepage--overview--wrap {
  text-align: center;
}

.content_homepage--overview {
  background: @gray-200;
  padding: @ms2 0;
  border-top: 1px @gray-300 solid;
  border-bottom: 1px @gray-300 solid;
}
.content_homepage--overview--list {
  font-size: 0;
  background: @gray-100;
  border-bottom-left-radius: @ms-5;
  border-bottom-right-radius: @ms-5;
}
.content_homepage--overview--item {
  display: inline-block;
  border-right: 1px @gray-300 solid;

  &:last-child {
    border-right: 0;
  }
  padding: @ms1 0;
  font-size: @ms0;
  width: 33.3%;
  box-sizing: border-box;
}
