body{
	/*Allows to use :hover on any html tag using javascript*/
	behavior:url("/css/csshover.htc");
}

.head div{
	width:940px;
}
.body{
	width:940px;
}
.lang{
	border-left:2px solid #f7f7f7;
	border-right:2px solid #f7f7f7;
	border-top:2px solid #f7f7f7;
}
.lang li ul{
	top:28px;
}
.lang li ul li{
	zoom:1;
	display:inline;
}
.lang li a,
.lang li a:link,
.lang li a:visited,
.lang li a:active{
	zoom:1;
	display:inline;
}

.menusimple li{
	zoom:1;
	display:inline;
}
.menusimple li a{
	font-family:sans-serif;
}
.menusimple li:hover a,
.menusimple li.active a{
	color:#fff;
}
.menusimple li ul{
	width:190px;
	min-width:auto;
}
.menusimple li ul li{
	width:100%;
}
.menusimple li ul li a{
	width:100%;
}
.menusimple li ul li a:hover,
.menusimple li ul li.active a,
.menusimple li ul li.active a:link,
.menusimple li ul li.active a:visited,
.menusimple li ul li.active a:active{
	color:#fff;
}

.index{
	font-size:0;
}
.index li{
	margin-left:-16px;
}
.index ul li{
	margin-left:16px;
}
.index a,
.index a:link,
.index a:active,
.index a:visited{
	font-size:16px;
}


.titleicon{
	vertical-align:middle;
	margin-right:5px;
}

.maindesc{
	width:760px;
}
.mainlist div{
	zoom:1;
	display:inline;
	width:250px;
}
.mainlist div div{
	zoom:1;
	display:inline;
	line-height:1.5em;
	text-align:left;
	width:auto;
}
.mainlist div div{
	text-align:left;
}
.mainlist div:first-child + div{
	text-align:center;
}
.mainlist div:first-child + div + div{
	text-align:right;
}
.mainlist .ieimg{
	vertical-align:top;
	position:relative;
	top:4px;
	margin-right:10px;
	float:left;
	height:48px;
	width:48px;
}

.mainbutton a,
.mainbutton a:link,
.mainbutton a:visited,
.mainbutton a:active{
	zoom:1;
	display:inline;
}
.mainbutton a:hover,
.mainbutton a:link:hover,
.mainbutton a:visited:hover,
.mainbutton a:active:hover{
	background-image:none;
	color:#fff;
}
.mainbutton .ieimg{
	margin-right:10px;
	margin-left:-52px;
	margin-bottom:-12px;
	height:42px;
	width:42px;
}

.starttitle a{
	zoom:1;
	display:inline;
}
.start div{
	border-top:expression((this.parentNode.getElementsByTagName('DIV')[5]==this)?'1px solid #e0e0e0':'');
}
.start div div{
	zoom:1;
	display:inline;
	padding-top:25px;
	position:relative;
	padding-right:expression(this.parentNode.getElementsByTagName('DIV')[0]==this?'40px':'');
	border-right:expression(this.parentNode.parentNode.className=='start'&&this.parentNode.getElementsByTagName('DIV')[0]==this?'1px solid #e0e0e0':'');
	padding-left:expression(this.parentNode.getElementsByTagName('DIV')[2]==this?'40px':'');
	border-left:expression(this.parentNode.parentNode.className=='start'&&this.parentNode.getElementsByTagName('DIV')[2]==this?'1px solid #e0e0e0':'');
	margin-left:expression(this.parentNode.getElementsByTagName('DIV')[2]==this?'-1px':'');
}
.start div div div{
	padding-top:0;
}
.start>div>div:first-child+div{
	/*This one is for IE7 only*/
	border-top:0;
}

.resources div{
	border-top:expression((this.parentNode!=this.parentNode.parentNode.getElementsByTagName('DIV')[0])?'1px solid #e0e0e0':'0');
}
.resources div div{
	zoom:1;
	display:inline;
	padding-top:25px;
	position:relative;
	padding-right:expression(this.parentNode.getElementsByTagName('DIV')[0]==this?'40px':'');
	border-right:expression(this.parentNode.getElementsByTagName('DIV')[0]==this?'1px solid #e0e0e0':'');
	padding-left:expression(this.parentNode.getElementsByTagName('DIV')[1]==this?'40px':'');
	border-left:expression(this.parentNode.getElementsByTagName('DIV')[1]==this?'1px solid #e0e0e0':'');
	margin-left:expression(this.parentNode.getElementsByTagName('DIV')[1]==this?'-1px':'');
}
.resources>div>div:first-child+div{
	/*This one is for IE7 only*/
	border-top:0;
}

.resourcesorg div div{
	zoom:1;
	display:inline;
	padding:20px 0;
}
.resourcesorg div{
	border-top:expression(this.parentNode.className=='resourcesorg'&&this.parentNode.getElementsByTagName('DIV')[0]!=this?'1px solid #e0e0e0':'0');
}

.downloadbox{
	zoom:1;
	display:inline;
}
.downloadbox p{
	margin-top:expression(this.parentNode.getElementsByTagName('P')[0]==this?'0px':'20px');
	margin-bottom:expression(this.parentNode.getElementsByTagName('P')[0]==this?'20px':'0px');
}
.downloadbox a{
	zoom:1;
	display:inline;
}
.downloadbox div{
	zoom:1;
	display:inline;
}
.downloadbox div div{
	display:block;
}
.download span{
	zoom:1;
	display:inline;
}

.eventtable div div{
	zoom:1;
	display:inline;
}

.alert-message a:hover,
.alert-message a:hover:link,
.alert-message a:hover:active,
.alert-message a:hover:visited{
	color:#fff;
}

.index{
	zoom:1;
	display:inline;
}

.boxexpand *{
	display:expression((this.parentNode.nodeName=='DIV')?'none':'');
}
.boxexpand h3{
	display:expression((this.parentNode.nodeName=='DIV'&&this.parentNode.getElementsByTagName('H3')[0]==this)?'block':'');
	margin:expression((this.parentNode.nodeName=='DIV'&&this.parentNode.getElementsByTagName('H3')[0]==this)?'20px 0':'');
}
.boxexpand h3 a:link,
.boxexpand h3 a:visited,
.boxexpand h3 a:active{
	text-decoration:none;
}

.tablehalf div{
	zoom:1;
	display:inline;
	margin-bottom:30px;
}

.foundation{
	width:500px;
}

.devprojectlist li{
	display:expression((this.parentNode.childNodes[0]==this||this.parentNode.childNodes[1]==this||this.parentNode.childNodes[2]==this||this.parentNode.childNodes[3]==this)?'list-item':'');
}

.pleftfloat span{
	position:relative;
	float:left;
}

.previewrow h2{
	font-size:115%;
}
.previewrow p{
	font-size:95%;
}
.previewrow div{
	zoom:expression(this.parentNode.className=='previewrow'?'1':'');
	display:expression(this.parentNode.className=='previewrow'?'inline':'');
	position:expression(this.parentNode.className=='previewrow'?'relative':'');
	margin-right:expression(this.parentNode.className=='previewrow'?'12px':'');
	margin-bottom:expression(this.parentNode.className=='previewrow'?'12px':'');
	vertical-align:expression(this.parentNode.className=='previewrow'?'top':'');
}
.previewrow div a,
.previewrow div a:visited,
.previewrow div a:link,
.previewrow div a:active{
	zoom:1;
	display:inline;
	font-size:94%;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	width:72px;
	height:110px;
	vertical-align:top;
	white-space:normal;
}
.previewrow div a img{
	display:block;
	margin:auto;
	margin-bottom:10px;
	width:72px;
	height:72px;
}
.previewrow div div{
	height:0;
	position:absolute;
	left:-105px;
	right:-110px;
	bottom:100px;
	padding:0;
	z-index:1000;
	overflow:hidden;
	width:280px;
}
.previewrow div div div{
	width:280px;
	position:static;
}
.previewrow div:hover div{
	height:auto;
}
.previewcol .previewrow{
	padding-left:expression(this.parentNode.firstChild==this?'0px':'');
}
.previewcol .previewrow:first-child+div{
	border:0;
}
.previewrow div div div.b1{
	background:url(/img/bubbletop.png) bottom center no-repeat;
	padding:0;
	height:10px;
}
.previewrow div div div.b2{
	background:url(/img/bubblemiddle.png) bottom center repeat-y;
	padding:0;
	padding-top:10px;
}
.previewrow div div div.b3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblebottom.png', sizingMethod='scale');
	padding:0;
	height:64px;
}
.previewrow>div>div>div:first-child+div{
	padding:0;
}
.previewrow div div div h2{
	position:relative;
	left:30px;
	margin:0;
}
.previewrow div div div span{
	/*FIXME can't get to make it work on IE6-7*/
	display:none;
	position:absolute;
	right:10px;
	top:10px;
}
.previewrow div div div span img{
	margin-left:4px;
}
.previewrow div div div p{
	font-size:95%;
	margin:0;
	padding:10px 0;
	text-align:expression((this.parentNode.getElementsByTagName('P')[1]==this)?'center':'');
	width:220px;
	position:relative;
	left:30px;
	line-height:1.5em;
}
.previewrow div div div p a,
.previewrow div div div p a:visited,
.previewrow div div div p a:link,
.previewrow div div div p a:active{
	display:inline;
	zoom:1;
	text-align:center;
	width:auto;
	height:auto;
	font-weight:bold;
	text-decoration:none;
	padding:5px 10px;
	color:#fff;
	background-color:#2c6fad;
}
.previewrow .walletwarning .b1{
	background-image:url(/img/bubblewarntop.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblewarntop.png', sizingMethod='scale');
}
.previewrow .walletwarning .b2{
	background-image:url(/img/bubblewarnmiddle.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblewarnmiddle.png', sizingMethod='scale');
}
.previewrow .walletwarning .b3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubblewarnbottom.png', sizingMethod='scale');
}
.previewrow .walletwarning div p a,
.previewrow .walletwarning div p a:visited,
.previewrow .walletwarning div p a:link,
.previewrow .walletwarning div p a:active{
	background-color:#b95357;
	border:1px solid #a04246;
}
.previewrow .walletinfo .b1{
	background-image:url(/img/bubblewarntop.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubbleinfotop.png', sizingMethod='scale');
}
.previewrow .walletinfo .b2{
	background-image:url(/img/bubblewarnmiddle.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubbleinfomiddle.png', sizingMethod='scale');
}
.previewrow .walletinfo .b3{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bubbleinfobottom.png', sizingMethod='scale');
}
.previewrow .walletinfo div p a,
.previewrow .walletinfo div p a:visited,
.previewrow .walletinfo div p a:link,
.previewrow .walletinfo div p a:active{
	background-color:#ee9209;
	border:1px solid #d57700;
	
}

.press-faq div{
	width:400px;
	display:inline;
	zoom:1;
	vertical-align:top;
	text-align:left;
	margin-bottom:15px;
	margin-right:20px;
}
.press-faq div a{
	display:inline;
	zoom:1;
	font-weight:bold;
	margin-right:20px;
}
.press-faq li a{
	font-weight:normal;
}
.press-faq div div{
	height:0;
	width:auto;
	margin:10px 0 0 0;
	overflow:hidden;
	text-align:justify;
}

.press-videos div{
	display:inline;
	zoom:1;
}
.press-videos div a{
	display:inline;
	zoom:1;
}

.press-quotes p{
	display:inline;
	zoom:1;
}
.press-quotes span{
	font-weight:expression((this.parentNode.getElementsByTagName('SPAN')[0]==this)?'bold':'');
	display:expression((this.parentNode.getElementsByTagName('SPAN')[0]==this)?'block':'');
	margin-bottom:expression((this.parentNode.getElementsByTagName('SPAN')[0]==this)?'4px':'');
}

.press-news div{
	height:125px;
	margin-bottom:30px;
	width:700px;
}
.press-news div a img{
	float:left;
	margin-right:30px;
}
.press-news div a{
	display:block;
	margin-bottom:10px;
}
.press-news div p{
	font-size:80%;
}
