/*Styles for HTML tags*/

body{
	font-family:"Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size:16px;
	margin:0;
	padding:0;
	color:#646464;
	background-color:#f7f7f7;
}
h1{
	font-family:'Ubuntu', sans-serif;
	font-weight:700;
	color:#0d579b;
	font-size:160%;
	margin-top:0;
	text-align:center;
}
h2{
	font-family:'Ubuntu', sans-serif;
	font-weight:700;
	color:#383838;
	font-size:130%;
	text-align:left;
}
h3{
	color:#383838;
	font-size:110%;
	text-align:left;
}
a:link,
a:visited,
a:active{
	color:#2c6fad;
	text-decoration:none;
}
a:link:hover,
a:visited:hover,
a:active:hover{
	color:#63a4e1;
}
a img,
a:link img,
a:visited img,
a:active img{
	border:0;
}
blockquote{
	margin-left:0;
	margin-bottom:18px;
	border-left:5px solid #eee;
	padding-left:15px;
}
pre{
	background-color:#f5f5f5;
	display:block;
	padding:17px;
	margin:0 0 18px;
	line-height:18px;
	font-size:12px;
	border:1px solid #ccc;
	white-space:pre-wrap;
	word-wrap:break-word;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
ul{
	padding-left:20px;
	margin-left:0;
}
ul ul{
	list-style-type:disc;
}
li{
	padding:5px 0;
}
li p{
	margin:0;
}

/*Styles for whole website*/

@font-face{
	font-family:'Ubuntu';
	src:url('/font/ubuntu-r-webfont.eot');
	src:url('/font/ubuntu-r-webfont.eot?iefix') format('eot'),
	url('/font/ubuntu-r-webfont.woff') format('woff'),
	url('/font/ubuntu-r-webfont.ttf') format('truetype'),
	url('/font/ubuntu-r-webfont.svg') format('svg');
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:'Ubuntu';
	src:url('/font/ubuntu-ri-webfont.eot');
	src:url('/font/ubuntu-ri-webfont.eot?iefix') format('eot'),
	url('/font/ubuntu-ri-webfont.woff') format('woff'),
	url('/font/ubuntu-ri-webfont.ttf') format('truetype'),
	url('/font/ubuntu-ri-webfont.svg') format('svg');
	font-weight:300;
	font-style:italic;
}
@font-face{
	font-family:'Ubuntu';
	src:url('/font/ubuntu-b-webfont.eot');
	src:url('/font/ubuntu-b-webfont.eot?iefix') format('eot'),
	url('/font/ubuntu-b-webfont.woff') format('woff'),
	url('/font/ubuntu-b-webfont.ttf') format('truetype'),
	url('/font/ubuntu-b-webfont.svg') format('svg');
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:'Ubuntu';
	src:url('/font/ubuntu-bi-webfont.eot');
	src:url('/font/ubuntu-bi-webfont.eot?iefix') format('eot'),
	url('/font/ubuntu-bi-webfont.woff') format('woff'),
	url('/font/ubuntu-bi-webfont.ttf') format('truetype'),
	url('/font/ubuntu-bi-webfont.svg') format('svg');
	font-weight:700;
	font-style:italic;
}

.alert-message div{
	background-color:#c5251f;
}
.alert-message div div{
	margin:auto;
	width:850px;
	padding:10px;
}
.alert-message,
.alert-message a,
.alert-message a:link,
.alert-message a:active,
.alert-message a:visited{
	color:#fff;
}
.alert-message a:hover{
	text-decoration:underline;
}

.foundation-banner{
	text-align:center;
}
.foundation-banner div{
	display:inline-block;
	color:#8D8D8D;
	padding:15px 30px 15px 30px;
	margin:0 0 20px 0;
	line-height:2em;
}
.foundation-banner a,
.foundation-banner a:link,
.foundation-banner a:active,
.foundation-banner a:visited{
	color:#666;
	font-weight:bold;
	margin-left:6px;
	white-space:nowrap;
}
.foundation-banner img{
	vertical-align:top;
	position:relative;
	top:2px;
	width:32px;
	height:32px;
}

.head{
	margin:30px 0 30px 0;
}
.head div{
	max-width:940px;
	margin:auto;
	position:relative;
	z-index:100;
}
.body{
	max-width:940px;
	margin:auto;
	position:relative;
}

.langselect{
	display:none;
}
.lang,
.lang li,
.lang ul{
	display:block;
	list-style:none;
	padding:0;
	margin:0;
	text-align:right;
	cursor:pointer;
}
.lang{
	position:absolute;
	right:5px;
	top:8px;
	height:30px;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
	border-top:2px solid transparent;
}
.lang:hover{
	border-left:2px solid #ebebeb;
	border-right:2px solid #ebebeb;
	border-top:2px solid #ebebeb;
	background-color:#fff;
}
.lang li ul{
	display:none;
	right:-2px;
	top:28px;
	position:absolute;
	background-color:#fff;
	margin-left:-5px;
	padding-bottom:4px;
	border-left:2px solid #ebebeb;
	border-right:2px solid #ebebeb;
	border-bottom:2px solid #ebebeb;
}
.lang:hover li ul{
	display:block;
}
.lang li a,
.lang li a:link,
.lang li a:visited,
.lang li a:active{
	text-decoration:none;
	font-size:115%;
	width:100px;
	display:inline-block;
	color:#b8b8b8;
	padding:4px 8px;
}
.lang li ul li a,
.lang li ul li a:link,
.lang li ul li a:visited,
.lang li ul li a:active{
	padding:2px 8px;

}
.lang:hover li a{
	color:#666666;
}
.lang:hover li ul li a{
	color:#b8b8b8;
}
.lang li ul li:hover a{
	color:#666666;
}

.logo{
	display:block;
	margin-left:40px;
	width:191px;
	height:40px;
}

.menumobile{
	display:none;
}

.menusimple{
	margin:0;
	position:absolute;
	top:8px;
	left:245px;
	padding:0;
	height:35px;
}
.menusimple li{
	list-style:none;
	display:inline-block;
	position:relative;
	padding:0;
	margin:0 3px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.menusimple li:first-child,
.menusimple li:first-child+li{
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.menusimple li a{
	font-family:'Ubuntu', sans-serif;
	font-weight:300;
	font-size:110%;
	display:block;
	text-decoration:none;
	padding:6px 10px 4px 10px;
	color:#2c6fad;
	white-space:nowrap;
}
.menusimple li:hover,
.menusimple li.active{
	background-color:#2c6fad;
}
.menusimple li:hover a,
.menusimple li.active a{
	color:#fff;
}
.menusimple li ul{
	display:none;
	position:absolute;
	background-color:#fff;
	border:1px solid #2c6fad;
	min-width:120%;
	padding:5px 0;
	margin:0;
	left:0;
}
.menusimple li:hover ul{
	display:block;
}
.menusimple li ul li{
	padding:0;
	margin:0;
	display:block;
	width:100%;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.menusimple li ul li a,
.menusimple li ul li a:active,
.menusimple li ul li a:visited,
.menusimple li ul li a:link{
	display:block;
	color:#2c6fad;
	font-size:100%;
	margin:1px 0;
	padding:6px 10px 3px 10px;
}
.menusimple li ul li:hover a,
.menusimple li ul li.active a{
	color:#fff;
}
	
.content{
	position:relative;
	padding:30px 40px 40px 40px;
	margin:0 5px;
	text-align:justify;
	background-color:#fff;
	min-height:400px;
	border:2px solid #ebebeb;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.content p,.content li{
	line-height:1.5em;
}

.footer{
	position:relative;
	top:-2px;
	padding:20px 0 20px 40px;
	text-align:center;
	max-width:940px;
	font-size:94%;
}
.footer div{
	padding-top:6px;
}
.footer div a{
	margin-right:15px;
	white-space:nowrap;
}
.footer div span a{
	margin-right:auto;
}

/*Styles specific to elements in pages*/

.mainsummary,
.mainvideo,
.mainlist{
	text-align:center;
}
.mainsummary{
	font-size:145%;
	color:#7b7c7c;
	margin:20px auto 45px auto;
}
.mainvideo iframe{
	width:640px;
	height:360px;
}
.mainlist{
	font-size:125%;
	margin:30px 0;
}
.mainlist>div{
	width:250px;
	display:inline-block;
}
.mainlist>div>div{
	display:inline-block;
	line-height:1.5em;
	text-align:left;
}
.mainlist>div:first-child{
	text-align:left;
}
.mainlist>div:first-child+div{
	text-align:center;
}
.mainlist>div:first-child+div+div{
	text-align:right;
}
.mainlist>div>div>div{
	display:inline-block;
}
.mainlist img{
	vertical-align:top;
	position:relative;
	top:4px;
	margin-right:10px;
	float:left;
	height:48px;
	width:48px;
}
.maindesc{
	max-width:760px;
	margin:auto;
	line-height:1.5em;
}
.mainbutton{
	text-align:center;
}
.mainbutton a,
.mainbutton a:link,
.mainbutton a:visited,
.mainbutton a:active{
	font-family:'Ubuntu', sans-serif;
	font-weight:400;
	font-size:150%;
	text-shadow:0 2px 6px rgba(0,0,0,0.6);
	text-align:left;
	display:inline-block;
	background-color:#2c6fad;
	border:1px solid #20598f;
	background-image:-o-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
	background-image:-moz-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
	background-image:-webkit-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
	background-image:-ms-linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
	background-image:linear-gradient(bottom, #20598f 14%, #2c6fad 70%);
	color:#fff;
	padding:15px 20px 20px 68px;
	margin:40px 0 40px 0;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
}
.mainbutton a:hover{
	background-image:none;
	color:#fff;
}
.mainbutton img{
	margin-right:10px;
	margin-left:-52px;
	margin-bottom:-12px;
	height:42px;
	width:42px;
}
.mainoverview{
	font-size:130%;
	text-align:center;
	margin-bottom:10px;
}
.mainoverviews{
	font-size:145%;
	text-align:center;
	margin-bottom:10px;
}
.mainoverviews a{
	margin:5px 15px;
	display:inline-block;
}

.starttitle{
	text-align:center;
}
.starttitle a{
	padding:10px;
	border-bottom:1px solid #E2E2E2;
	font-size:155%;
	margin:20px auto;
	display:inline-block;
}
.start{
	text-align:left;
}
.start div{
	position:relative;
}
.start>div:first-child+div{
	border-top:1px solid #e0e0e0;
}
.start div div{
	display:inline-block;
	width:380px;
	vertical-align:top;
	padding-bottom:70px;
	position:static;
}
.start>div>div:first-child{
	padding-right:40px;
	border-right:1px solid #e0e0e0;
}
.start>div>div:first-child+div{
	padding-left:40px;
	border-left:1px solid #e0e0e0;
	margin-left:-1px;
}
.start div div div a,
.start div div div a:link,
.start div div div a:active,
.start div div div a:visited{
	display:inline-block;
	padding:6px 12px;
	font-size:115%;
	color:#fff;
	border:1px solid #d57700;
	background-color:#ee9209;
	background-image:-o-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:-moz-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:-webkit-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:-ms-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.start div div div a:hover{
	background-image:none;
	color:#fff;
}
.start h2{
	color:#0d579b;
}
.start h2 span{
	font-size:200%;
	color:#ee9209;
}
.start div div div{
	display:block;
	width:auto;
	padding-bottom:0;
	position:absolute;
	bottom:35px;
}

.introlink{
	text-align:center;
	font-size:125%;
	font-weight:bold;
	margin-top:30px;
}

.titleicon{
	width:32px;
	height:32px;
	vertical-align:middle;
	margin-right:8px;
	position:relative;
	top:-2px;
}
.warningicon{
	width:42px;
	height:42px;
	vertical-align:middle;
	margin-right:6px;
}

.index,
.index ul,
.index li{
	list-style:none;
	padding:0;
	margin:0;
}
.index{
	padding:20px;
	border:2px dashed #4892b2;
	display:inline-block;
}
.index ul{
	padding:10px 0;
}
.index li{
	font-weight:bold;
}
.index ul li{
	font-weight:normal;
}
.index a,
.index a:link,
.index a:active,
.index a:visited{
	display:block;
	text-decoration:none;
	line-height:1.5em;
}

.box{
	border:2px dashed #4892b2;
	padding:0 20px 0 20px;
}
.boxexpand{
	overflow:hidden;
}
.boxexpand>*{
	display:none;
}
.boxexpand>h3:first-child{
	display:block;
	margin:20px 0;
}
.boxexpand>h3:first-child a:link,
.boxexpand>h3:first-child a:visited,
.boxexpand>h3:first-child a:active{
	text-decoration:none;
}

.titlelight{
	color:#8c8c8c;
}

.tablehalf{
	width:885px;
	position:relative;
	left:-40px;
}
.tablehalf div{
	display:inline-block;
	width:400px;
	vertical-align:top;
	margin-left:40px;
	margin-bottom:20px;
}
.tablehalf img{
	width:400px;
	height:220px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.tablehalf h2 img{
	width:auto;
	height:auto;
}
.tablehalf p{
	text-align:left;
}

.contributors{
	width:890px;
	text-align:left;
}
.contributors span a{
	font-size:80%;
}
.contributors span{
	padding:6px 0;
	width:170px;
	overflow:hidden;
	display:inline-block;
}

.resources{
	text-align:left;
}
.resources>div{
	border-top:1px solid #e0e0e0;
}
.resources>div:first-child{
	border-top:0;
}
.resources div div{
	display:inline-block;
	width:380px;
	vertical-align:top;
	padding:10px 0 25px 0;
	min-height:200px;
}
.resources>div>div:first-child{
	padding-right:40px;
	border-right:1px solid #e0e0e0;
}
.resources>div>div:first-child+div{
	padding-left:40px;
	border-left:1px solid #e0e0e0;
	margin-left:-1px;
}
.resources div div div{
	display:block;
	width:auto;
}
.resources p{
	font-size:115%;
	margin:6px 0;
}

.resourcesorg{
	margin-bottom:40px;
	text-align:left;
	font-size:0;
}
.resourcesorg div{
	border-top:1px solid #e0e0e0;
}
.resourcesorg div:first-child,.resourcesorg div div{
	border-top:0;
}
.resourcesorg div div{
	width:278px;
	font-size:16px;
	display:inline-block;
	vertical-align:top;
}
.resourcesorg img{
	margin-right:5px;
	width:24px;
	height:24px;
	position:relative;
	bottom:-6px;
}

.chatbox{
	text-align:center;
}

.devprojectlist{
	overflow:hidden;
}
.devprojectlist li{
	display:none;
}
.devprojectlist li:first-child,
.devprojectlist li:first-child+li,
.devprojectlist li:first-child+li+li,
.devprojectlist li:first-child+li+li+li{
	display:list-item;
}
.devprojectlist li.more{
	display:block;
}
.devprojectlist a{
	display:inline-block;
	margin-top:5px;
}

.floatimg{
	float:left;
	margin-right:10px;
}

.preview{
	margin-top:25px;
}
.previewcol{
	clear:both;
}
.previewcol .previewrow{
	padding-left:19px;
	padding-right:20px;
}
.previewcol .previewrow:first-child{
	padding-left:0;
}
.previewcol .previewrow:first-child+div{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.previewcol .previewrow:first-child+div+div{
	padding-right:0;
}
.previewrow{
	float:left;
	width:255px;
	text-align:left;
	position:relative;
}
.previewrow>h2{
	font-size:115%;
	margin-top:0;
}
.previewrow>p{
	font-size:95%;
}
.previewrow>div{
	display:inline-block;
	position:relative;
	margin-right:15px;
	margin-bottom:12px;
	vertical-align:top;
}
.previewrow>div:first-child+div+div,
.previewrow>div:first-child+div+div+div+div+div{
	margin-right:0;
}
.previewrow>div>a>img{
	display:block;
	margin:auto;
	margin-bottom:10px;
	width:72px;
	height:72px;
}
.previewrow>div>a,
.previewrow>div>a:visited,
.previewrow>div>a:link,
.previewrow>div>a:active{
	font-size:94%;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	width:72px;
	height:110px;
	display:inline-block;
	vertical-align:top;
	white-space:nowrap;
}
.previewrow>div>div{
	opacity:0;
	-moz-transition:opacity 400ms ease-out;
	-webkit-transition:opacity 400ms ease-out;
	transition:opacity 400ms ease-out;
	width:0;
	height:0;
	display:inline-block;
	position:absolute;
	left:-110px;
	right:-110px;
	bottom:100px;
	padding:0;
	z-index:1000;
	overflow:hidden;
}
.previewrow>div:hover>div{
	opacity:1;
	width:auto;
	height:auto;
}
.previewrow>div>div>div:first-child{
	background:url(/img/bubbletop.svg) bottom center no-repeat;
	height:10px;
}
.previewrow>div>div>div:first-child+div{
	background:url(/img/bubblemiddle.svg) bottom center repeat-y;
	padding:0 25px;
}
.previewrow>div>div>div:first-child+div+div{
	background:url(/img/bubblebottom.svg) bottom center no-repeat;
	height:64px;
}
.previewrow>div>div>div>span{
	position:absolute;
	top:24px;
	right:30px;
}
.previewrow>div>div>div>h2{
	margin:0;
	padding-top:10px;
	font-size:115%;
}
.previewrow>div>div>div>span>img{
	margin-left:4px;
}
.previewrow>div>div>div>h2:first-child+span+p{
	font-size:95%;
	margin:0;
	padding:10px 0;
}
.previewrow>div>div>div>h2:first-child+span+p+p{
	text-align:center;
	margin:0;
	padding:0;
	position:relative;
	bottom:-10px;
}
.previewrow>div>div>div>h2:first-child+span+p+p>a,
.previewrow>div>div>div>h2:first-child+span+p+p>a:visited,
.previewrow>div>div>div>h2:first-child+span+p+p>a:link,
.previewrow>div>div>div>h2:first-child+span+p+p>a:active{
	font-weight:bold;
	text-decoration:none;
	color:#fff;
	background-color:#2c6fad;
	background-image:-o-linear-gradient(bottom, #255f96 14%, #2c6fad 70%);
	background-image:-moz-linear-gradient(bottom, #255f96 14%, #2c6fad 70%);
	background-image:-webkit-linear-gradient(bottom, #255f96 14%, #2c6fad 70%);
	background-image:-ms-linear-gradient(bottom, #255f96 14%, #2c6fad 70%);
	background-image:linear-gradient(bottom, #255f96 14%, #2c6fad 70%);
	border:1px solid #255f96;
	padding:4px 8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.previewrow>div>div>div>h2:first-child+span+p+p>a:hover{
	background-image:none;
}
.previewrow .walletwarning>div:first-child{
	background:url(/img/bubblewarntop.svg) bottom center no-repeat;
}
.previewrow .walletwarning>div:first-child+div{
	background:url(/img/bubblewarnmiddle.svg) bottom center repeat-y;
}
.previewrow .walletwarning>div:first-child+div+div{
	background:url(/img/bubblewarnbottom.svg) bottom center no-repeat;
}
.previewrow .walletwarning>div>h2:first-child+span+p+p a,
.previewrow .walletwarning>div>h2:first-child+span+p+p a:link,
.previewrow .walletwarning>div>h2:first-child+span+p+p a:visited,
.previewrow .walletwarning>div>h2:first-child+span+p+p a:active{
	background-color:#b95357;
	background-image:-o-linear-gradient(bottom, #a04246 14%, #b95357 70%);
	background-image:-moz-linear-gradient(bottom, #a04246 14%, #b95357 70%);
	background-image:-webkit-linear-gradient(bottom, #a04246 14%, #b95357 70%);
	background-image:-ms-linear-gradient(bottom, #a04246 14%, #b95357 70%);
	background-image:linear-gradient(bottom, #a04246 14%, #b95357 70%);
	border:1px solid #a04246;
}
.previewrow .walletwarning>div>h2:first-child+span+p+p a:hover{
	background-image:none;
}
.previewrow .walletinfo>div:first-child{
	background:url(/img/bubbleinfotop.svg) bottom center no-repeat;
}
.previewrow .walletinfo>div:first-child+div{
	background:url(/img/bubbleinfomiddle.svg) bottom center repeat-y;
}
.previewrow .walletinfo>div:first-child+div+div{
	background:url(/img/bubbleinfobottom.svg) bottom center no-repeat;
}
.previewrow .walletinfo>div>h2:first-child+span+p+p a,
.previewrow .walletinfo>div>h2:first-child+span+p+p a:link,
.previewrow .walletinfo>div>h2:first-child+span+p+p a:visited,
.previewrow .walletinfo>div>h2:first-child+span+p+p a:active{
	background-color:#ee9209;
	background-image:-o-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:-moz-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:-webkit-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:-ms-linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	background-image:linear-gradient(bottom, #e28700 14%, #ee9209 70%);
	border:1px solid #d57700;
}
.previewrow .walletinfo>div>h2:first-child+span+p+p a:hover{
	background-image:none;
}
.previewmobile{
	display:none;
}

h1 .rssicon{
	vertical-align:bottom;
	margin-bottom:9px;
	margin-left:10px;
}
h2 .rssicon{
	vertical-align:bottom;
	margin-bottom:7px;
	margin-left:10px;
}

.versiontext{
	text-align:left;
	margin-bottom:40px;
	max-width:600px;
}
.versiontext h1{
	text-align:left;
}

.alerttext{
	margin-bottom:40px;
}
.alerttext h1{
	text-align:left;
}
.alertstatusinactive{
	font-size:130%;
	color:#0d579b;
	margin-bottom:30px;
}
.alertstatusactive{
	font-size:130%;
	color:#d57700;
	margin-bottom:30px;
}
.alertsactive{
	margin-bottom:20px;
}
.alertsactive a{
	font-weight:bold;
}

.redirectmsg{
	text-align:center;
	margin:20px 0;
}
.redirectmsg h1{
	color:#7b7c7c;
	font-weight:400;
	font-size:180%;
}
.redirectmsg p{
	font-size:150%;
}

.attribution{
	font-size:75%
}

.download{
	text-align:center;
}
.download p{
	text-align:justify;
}
.download div p{
	text-align:center;
}
.download h1,
.download h2{
	text-align:center;
}
.download .mainbutton a{
	margin:10px 0 35px 0;
}
.downloadbox{
	display:inline-block;
	border:2px solid #fad296;
	padding:20px;
	font-size:125%;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	margin:0 auto 20px auto;
}
.downloadbox p{
	margin:20px 0 0 0;
}
.downloadbox p:first-child{
	margin:0 0 10px 0;
}
.downloadbox p a{
	font-size:90%;
}
.downloadbox a{
	display:inline-block;
}
.downloadbox div{
	display:inline-block;
	margin:0 10px;
	vertical-align:top;
}
.downloadbox div div{
	display:block;
	width:180px;
	margin:10px 0;
	text-align:left;
}
.downloadbox img{
	width:32px;
	height:32px;
	position:relative;
	bottom:-22px;
}
.downloadbox small{
	display:block;
	position:relative;
	left:40px;
	margin-top:4px;
}

.eventmap{
	height:400px;
}

.summary{
	font-size:125%;
	margin-bottom:40px;
	text-align:center;
}
.summarytxt{
	margin-bottom:40px;
}

.press h2{
	font-size:150%;
}
	
.press-volunteer{
	text-align:left;
	margin-bottom:40px;
}

.press-faq{
	text-align:left;
	margin-bottom:40px;
}
.press-faq>div{
	width:380px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	margin-bottom:15px;
	margin-right:30px;
}
.press-faq>div>a{
	display:inline-block;
	font-weight:bold;
	margin-right:20px;
}
.press-faq>div>div{
	height:0;
	overflow:hidden;
	text-align:justify;
	-moz-transition:height 400ms ease-out;
	-webkit-transition:height 400ms ease-out;
	transition:height 400ms ease-out;
}
.press-faq li{
	text-align:justify;
	line-height:1.5em;
}
.press-faq div span p{
	margin-bottom:0;
}

.press-videos{
	margin-bottom:40px;
}
.press-videos div{
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
}
.press-videos div a{
	display:inline-block;
	margin-right:10px;
	margin-bottom:10px;
}
.press-videos img{
	width:250px;
	height:136px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.press-pictures{
	text-align:left;
	margin-bottom:40px;
}
.press-pictures div{
	height:270px;
	overflow:hidden;
	-moz-transition:height 400ms ease-out;
	-webkit-transition:height 400ms ease-out;
	transition:height 400ms ease-out;
}
.press-pictures img{
	margin-right:14px;
	margin-bottom:14px;
	height:120px;
	width:120px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.press-pictures>a{
	display:inline-block;
	padding-top:10px;
	font-weight:bold;
}

.press-quotes{
	margin-bottom:40px;
}
.press-quotes div{
	position:relative;
	left:-20px;
	text-align:left;
	height:350px;
	overflow:hidden;
	-moz-transition:height 400ms ease-out;
	-webkit-transition:height 400ms ease-out;
	transition:height 400ms ease-out;
}
.press-quotes p{
	display:inline-block;
	vertical-align:top;
	width:400px;
	margin:0 0 20px 20px;
}
.press-quotes>a{
	display:inline-block;
	padding-top:10px;
	font-weight:bold;
}
.press-quotes span:first-child{
	font-weight:bold;
	display:block;
	margin-bottom:4px;
}
.press-quotes span:first-child:before{
	position:absolute;
	margin-left:-16px;
	font-weight:bold;
	font-size:180%;
	content:"“";
}
.press-quotes span:first-child:after{
	position:absolute;
	margin-right:-16px;
	font-weight:bold;
	font-size:180%;
	content:"”";
}

.press-news{
	text-align:left;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.press-news>div{
	height:125px;
	margin-bottom:30px;
	width:700px;
}
.press-news>div>a>img{
	width:185px;
	height:123px;
	float:left;
	margin-right:30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.press-news>div>a:first-child+a{
	display:block;
	margin-bottom:10px;
}
.press-news a:link,
.press-news a:active,
.press-news a:visited{
	font-weight:bold;
	color:#2c6fad;
}
.press-news>div>a:first-child+a+a+p{
	font-size:80%;
}

/*Styles specific to mobiles*/

@media handheld, only screen and (max-device-height: 37em), only screen and (max-device-width: 50em){
	img{
		max-width:100%;
	}
	h1{
		text-align:left;
	}
	.summary{
		text-align:left;
	}
	.head{
		margin:0;
	}
	.langselect{
		background-color:transparent;
		border:0;
		font-size:115%;
		position:absolute;
		right:-20px;
		top:18px;
		width:120px;
		text-indent:20px;
	}
	.menumobile{
		display:inline-block;
		float:right;
		height:40px;
		width:40px;
		padding:12px;
		background-image:url(/img/menumobile.svg);
		background-repeat:no-repeat;
		background-position:center center;
	}
	.lang,
	.menusimple{
		display:none;
	}
	.menusimple{
		position:static;
		bottom:0;
		margin:0 0 10px 0;
		height:auto;
	}
	.menusimple li a,
	.menusimple li ul li a,
	.menusimple li ul li a:active,
	.menusimple li ul li a:visited,
	.menusimple li ul li a:link{
		padding:10px 6px 8px 6px;
		display:block;
	}
	.menusimple li{
		display:block;
		margin:4px;
		position:static;
	}
	.menusimple li ul{
		min-width:0;
		position:relative;
	}
	.menusimple ul.hover{
		display:block;
	}
	.logo{
		position:static;
		display:inline-block;
		margin:10px;
	}
	.content{
		position:static;
		text-align:left;
		margin:0;
		padding:15px 10px 20px 10px;
		border-right:0;
		border-left:0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
	.footer{
		padding:20px 0 20px 5px;
		background-color:transparent;
		line-height:1.5em;
	}
	.footer div span{
		display:block;
		margin-top:10px;
	}
	.index{
		padding:15px;
	}
	.index ul{
		padding:5px 0;
	}
	.index li{
		padding:3px 0;
	}
	.contributors{
		width:auto;
	}
	.tablehalf{
		position:static;
		width:auto;
	}
	.tablehalf div{
		display:block;
		width:auto;
		margin-left:0;
	}
	.tablehalf img{
		width:auto;
		height:auto;
	}
	.preview{
		display:none;
	}
	.preview{
		width:auto;
		border:0;
		padding:0;
	}
	.previewrow{
		float:none;
		padding-left:0;
		margin:auto;
	}
	.previewrow.previewmobile{
		display:block;
	}
	.previewrow{
		width:auto;
		text-align:left;
	}
	.previewrow>p{
		font-size:100%;
	}
	.previewrow>h2{
		margin-top:20px;
	}
	.previewrow>div>div{
		position:fixed;
		right:10px;
		left:10px;
		top:10px;
		bottom:auto;
		border:2px solid #2c6faf;
		background:#f1f8fb;
		z-index:1000;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		display:none;
	}
	.previewrow>div>div>div{
		padding:10px;
	}
	.previewrow>div>div>div:first-child{
		background:none;
		height:auto;
	}
	.previewrow>div>div>div>h2:first-child+span+p+p{
		margin:10px 0;
		position:static;
	}
	.previewrow .walletinfo{
		border:2px solid #ee9209;
		background-color:#fff8ea;
	}
	.previewrow .walletwarning{
		border:2px solid #b95357;
		background-color:#fff6f0;
	}
	.previewrow .walletwarning>div:first-child{
		background:none;
		height:auto;
	}
	.previewrow .walletinfo>div:first-child{
		background:none;
		height:auto;
	}
	.press-faq>div{
		width:auto;
		display:block;
		margin-right:0;
	}
	.press-faq>div>div{
		text-align:left;
	}
	.press-faq li{
		text-align:left;
	}
	.press-quotes p{
		width:auto;
	}
	.press-news>div{
		width:auto;
		height:auto;
	}
	.press-news>div>a>img{
		float:none;
		margin-right:0;
		margin-bottom:20px;
	}
	.mainvideo{
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}
	.mainvideo iframe{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	.mainlist>div{
		width:auto;
		display:block;
	}
	.mainlist>div>div{
		margin:10px;
	}
	.mainlist>div:first-child,
	.mainlist>div:first-child+div,
	.mainlist>div:first-child+div+div{
		text-align:left;
	}
	.start p{
		text-align:left;
	}
	.start>div{
		position:static;
	}
	.start>div:first-child+div{
		border-top:0;
	}
	.start div div{
		display:block;
		width:auto;
		padding:0 0 50px 0;
		position:relative;
	}
	.start>div>div:first-child{
		border-right:0;
		padding-right:0;
	}
	.start div div div{
		bottom:15px;
	}
	.start>div>div:first-child+div{
		border-left:0;
		padding-left:0;
		margin-left:0;
	}
	.resources>div{
		border-top:0;
	}
	.resources div div{
		display:block;
		width:auto;
		padding:0 0 10px 0;
		min-height:0;
	}
	.resources>div>div:first-child{
		padding-right:0;
		border-right:0;
	}
	.resources>div>div:first-child+div{
		border-left:0;
		padding-left:0;
		margin-left:0;
	}
	.resourcesorg div div{
		width:auto;
		display:block;
	}
	.resourcesorg div{
		border-top:0;
	}
	.download{
		text-align:left;
	}
	.download p{
		text-align:left;
	}
	.download div p{
		text-align:left;
	}
	.download h1,
	.download h2{
		text-align:left;
	}
	.download .mainbutton{
		display:none;
	}
	.downloadbox{
		border:0;
		padding:0;
		text-align:left;
	}
	.downloadbox div div{
		margin:0;
		width:auto;
	}
	.downloadbox>p:first-child{
		display:none;
	}
	.eventmap{
		height:200px;
	}
}

/* Deprecated styles (should be removed when translations are updated) */

.resourcesold{
	font-size:115%;
	font-weight:bold;
}
.resourcesold ul{
	padding-top:5px;
}
.resourcesold li{
	padding-top:6px;
	text-align:left;
}
.resourcesold a,
.resourcesold a:link,
.resourcesold a:active,
.resourcesold a:visited{
	text-decoration:none;
}
.resourcesold li ul li{
	font-weight:normal;
}
