$orange: #ef9e5b;
$dark-orange: #de8236;
$green: #4cad2c;
$dark-green: #318f20;

@mixin gradient($color1, $color2) {
    background-image: -o-linear-gradient(top, $color1 14%, $color2 70%);
    background-image: -moz-linear-gradient(top, $color1 14%, $color2 70%);
    background-image: -webkit-linear-gradient(top, $color1 14%, $color2 70%);
    background-image: -ms-linear-gradient(top, $color1 14%, $color2 70%);
    background-image: linear-gradient(top, $color1 14%, $color2 70%);
}

.donation-btn {
    border: none;
    border-radius: 1px;
    color: white;
    font-weight: 600;
    background: #F7931A;
    width: 170px;
    height: 35px;
    box-sizing: border-box;
}

.donation-container {
    text-align: center;

    .donation-text-container {
        position: relative;
        max-width: 1230px;
        margin: 0 auto;
    }
    .donation-text {
        background-color: #FEF4E8;
        color: #000000;
        transition: margin-top .2s ease-in;
        height: 204px;
        box-sizing: border-box;
        margin-top: -204px;
        padding: 35px 0 45px;

        p {
            margin-bottom: 28px;
            line-height: 42px;
        }
        
        &.expanded {
            margin-top: 0;
        }
    }
    .donation-modal-close {
        position: absolute;
        top: 0;
        right: 30px;
        border: none;
        background: transparent;
    }
    .donation-visibility-toggle {
        cursor: pointer;
        display: inline-block;
        background-color: #F7931A;
        width: 100%;
        box-sizing: border-box;
        height: 55px;
        color: #FFFFFF;
        font-weight: 600;
        border: none;
        font-size: 16px;

        &.active {
            display: none;
            margin-top: -4px;
        }
    }
}

.donation-modal {
    background: white;
    padding:20px;
    position: fixed;
    padding: 20px 90px;
    width: 770px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin: 0 auto;
    border-radius: 8px;
    transition: transform .2s ease-in, opacity .12s ease-in;
    transform-origin: top;
    overflow-y: auto;

    &.hidden {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
    }

    &.open {
        height: 755px;
        max-height: 100%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none; 
    }

    .modal-close-btn {
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        font-size: 200%;
        line-height: 16px;

        &:hover {
            color: #2c6fad;
        }
    }

    .modal-header-text {
        line-height: 65px;
        text-align: center;
    }

    .modal-subheader {
        text-align: center;
        font-size: 20px;
        line-height: 34px;
        margin: 47px 0 13px;
    }

    .donation-btc-address {
        display: block;
        text-align: center;
        margin: 27px 0 25px;
        line-height: 26px;
        font-size: 17px;
        color: #3490E6;
        text-decoration: underline;
    }

    .modal-body {
        .donation-amount-btn {
            width: 170px;
            height: 65px;
            box-sizing: border-box;
            cursor: pointer;
            background-color: #F7931A;
            border: none;
            border-radius: 1px;
            color: white;
            margin-right: 30px;
            margin-bottom: 30px;

            &:last-child {
                margin-right: 0;
            }
            
            &:hover {
                background-color: #F7931A;
            }

            .donation-amount-usd-in-btc {
                font-size: 75%;
            }
        }

        .donation-amount-input {
            width: 41%;
            margin-top: 20px;
            padding: 15px 15px 15px 20px;
            border: 1px solid #dadada;
            border-radius: 1px;
        }

        textarea.donation-amount-input {
            width: 91%;
           margin: 33px 0 30px;
        }
    }
}

.modal-drop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.38);
    opacity: 0;
    transition: opacity .2s ease-in;
}

@media handheld, only screen and ( max-width: 60em ), only screen and ( max-device-width: 60em ){
    .donation-container .donation-text {
        height: auto;
        padding: 0 0 35px;
        margin-top: -188px;
    }
    .donation-container .donation-text p {
        margin: 0 auto 28px;
        line-height: 30px;
        max-width: 480px;
        padding-top: 30px;
    }
    .donation-container .donation-modal-close {
        top: 20px;
        right: 25px;
    }
    .donation-modal.open {
        height: 700px;
        padding: 20px 38px;
        width: 620px;
    }
    .donation-modal .modal-header-text {
        margin-bottom: 20px;
    }
    .donation-modal .modal-subheader {
        margin: 0 0 13px;
    }
    .donation-modal .modal-body .donation-amount-btn {
        width: 157px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .donation-modal .modal-body .donation-amount-input {
        width: 39.4%;
    }
    .donation-modal .modal-body textarea.donation-amount-input {
        width: 88.2%;
        margin: 30px 0 0;
    }
}
@media handheld, only screen and ( max-width: 40em ), only screen and ( max-device-width: 40em ){
    .donation-container {
        display: none;
    }
}
