$platforms:
    mobile,
    desktop,
    hardware,
    web;

$oses:
    ios,
    android,
    windowsphone,
    blackberry,
    linux,
    mac,
    windows;

// Wallet menu
.walletmenu {
    margin-bottom: 75px;
    text-align: center;
    position: relative;
    z-index: 90;

    > ul {
        display: inline-block;
        text-align: left;
        margin: 0;
        padding: 0;
        background-color: #fff;

        // Disable border radius of menu buttons
        // TODO: rework, so it doesn't rely on the order of submenus
        // &:hover > li:first-child,
        // &:hover > li:first-child + li {
        //     -webkit-border-bottom-left-radius: 0;
        //     -webkit-border-bottom-right-radius: 0;
        //     -moz-border-radius-bottomleft: 0;
        //     -moz-border-radius-bottomright: 0;
        //     border-bottom-left-radius: 0;
        //     border-bottom-right-radius: 0;
        // }

        > li:hover > div {
            display: block;
        }
        > li > div> ul > li.active,
        > li > div> ul > li:hover {
            border: none;
        }
        > li.active > a, 
        > li:hover > a, {
            padding: 18px 10px 18px 42px;
        }
        li {
            display: inline-block;
            background-repeat: no-repeat;
            background-position: left 16px;
            padding: 0;
            margin: 0 40px;
            font-size: 93.75%;
            -moz-transition: background-color 400ms ease-out;
            -webkit-transition: background-color 400ms ease-out;
            transition: background-color 400ms ease-out;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a,
            a:link,
            a:active,
            a:visited {
                color: #383838;
            }
            a {
                white-space: nowrap;
                cursor: pointer;
                display: block;
                padding: 18px 10px 21px 42px;

            }
            
            div {
                display: none;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100%;
                transform: translate(-50%, 100%);
                 ul {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    background-color: #f8f8f8;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;

                li {
                    font-size: 80%;
                    display: block;
                    margin: 0;
                    background-position: left 18px;

                    > a {
                        font-size: 15px;
                        background-image: url(/img/icons/wallet_select.svg);
                        background-repeat: no-repeat;
                        background-position: -32px center;
                        padding: 18px 32px 18px 32px;

                    }
                    &.active > a {
                        background-position: right center;
                    }
                }
            }
            }

            &.active,
            &:hover {
                border-bottom: 3px solid #ff7e00;
            }

            &:hover > a,
            &:hover > a:link,
            &:hover > a:active,
            &:hover > a:visited,
            &.active > a,
            &.active > a:link,
            &.active > a:active,
            &.active > a:visited {
                color: #ff7e00;
            }
        }
    }

    // Generating icon classes for platforms
    @each $platform in $platforms {
        .wallet-#{$platform} {
            background-image: url('/img/icons/wallet_menu_#{$platform}.svg');
        }
    }

    // Generating icon classes for OSes
    @each $os in $oses {
        .wallet-#{$os} {
            background-image: url('/img/os/wallet_menu_#{$os}.svg');
        }
    }

    @media handheld,
    only screen and ( max-width: 48em ),
    only screen and ( max-device-width: 48em ) {
        > ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0 15px;
            > li:hover > div {
                display: none;
            }
            > li.pseudo-acc > div {
                display: block;
            }
            .pseudo-acc > a {
                position: relative;
            }
            .pseudo-acc > a::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -40px;
                transform: translateY(-50%); 
                width: 30px;
                height: 30px;
                background: url(../img/icons/checkmark.svg) center no-repeat;
                background-size: contain;
            }
            .pseudo-acc > a::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 15px;
                width: 10px;
                height: 6px;
                transform: translateY(-50%);
                background: url(../img/icons/ico_angle.svg) center no-repeat;
                background-size: contain;
            }
            > li {
                display: block;
                width: 47.5%;
                height: 95px;
                margin: 0 3.5% 10px 0;
                margin-right: 3.5%;
                margin-bottom: 10px;
                border: 1px solid $light-grey;
                background-position: 50% 20px;
                box-sizing: border-box;
                &:nth-child(even) {
                    margin-right: 0;
                }

                // &.active {
                //     ul {
                //         display: block;
                //     }
                // }

                > a {
                    padding: 55px 40px 15px;
                    box-sizing: border-box;
                    text-align: center;
                }
                &.active, &:hover {
                    border: 2px solid #ff7e00;
                    background-position: 50% 19px;
                }
                &.active>a, 
                &:hover>a {
                    padding: 54px 40px 14px;
                }
                ul {
                    min-width: 100%;
                }
                div ul {
                    flex-wrap: wrap;
                    justify-content: left;
                    padding: 0 15px;
                    background: #fff;
                }
            }
            li div ul li {
                width: 47.5%;
                height: 95px;
                margin: 0 3.5% 10px 0;
                margin-right: 3.5%;
                margin-bottom: 10px;
                border: 1px solid #dfdfdf;
                background-position: 50% 20px;
                background-size: 20px;
                box-sizing: border-box;
                text-align: center;

                &.active, 
                &:hover {
                    border: 2px solid #ff7e00;
                }
                
                &:nth-child(even) {
                    margin-right: 0;
                }

                a {
                    padding: 55px 30px 15px;
                }
            }
        }
        .wallet-acc-toggle {
            display: block;
            height: 60px;
            padding: 16px 0 0 55px;
            margin: 0 0 15px;
            box-sizing: border-box;
            background: #f8f8f8;
            text-align: left;
            cursor: pointer
        }
        .js-acc-item.pseudo-acc {
            width: 100%;
            margin: 0;
            background: #f8f8f8;
            border: none;
            height: 60px;
            padding: 16px 0 0 55px;
            font-size: 18px;
            margin-bottom: 2px;
        }
        .js-acc-item.pseudo-acc > a {
            padding: 0;
            text-align: left;
            font-size: 18px;
            color: #FF7E00;
        }
        .is-hidden {
            display: none;
        }
        .is-fullwidth {
            padding: 0;
        }
    }
}
.wallet-platform-link {
    position: relative;
}
.walletmenu>ul li:hover .wallet-platform-link::after {
        content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 8px solid transparent;
    border-top: 8px solid #ff7e00;
    transform: translate(-50%, 100%);
    z-index: 10;
}

.wallet-acc-toggle {
    display: none;
}
.wallet-acc-toggle {
    display: none;
    position: relative;
}
.wallet-acc-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 6px;
    transform: translateY(-50%);
    background: url(../img/icons/ico_angle.svg) center no-repeat;
    background-size: contain;
}
.is-expanded.wallet-acc-toggle::after {
    transform: translateY(-50%) rotate(180deg);
}
.wallet-acc-toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}
.wallet-acc-toggle-1::before {
    background: url(../img/getting-started/number-1.svg) center no-repeat;
    background-size: contain;
}
.wallet-acc-toggle-2::before {
    background: url(../img/getting-started/number-2.svg) center no-repeat;
    background-size: contain;
}