$green: #329239;
$grey: #8b8b8b;
$dark-grey: #4d5060;
$light-grey: #dfdfdf;
$red: #ee9209;
$orange: #ff7e00;
$blue: #2c6faf;
$dark-blue: #255f96;
$light-blue: #63a4e1;
$lightest-blue: #f0f8ff;
$black: #13161f;

@mixin button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 260px;
  text-align: center;
  font-weight: 600;
  font-size: 100%;
  border-radius: 1px;
}

// ----------------------------- new

$checks: control, validation, transparency, environment, fees, privacy;

$scores: good $black 600, pass $black 600, neutral $black 600, fail $black 600;


.wallet {
  .wallet-logo-container {
    text-align: center;
    
    .wallet-logo {
      width: 72px;
      height: 72px;
    }
    
    h1 {
      text-align: center;
    }
  }
}

.wallet-platforms {
  margin-top: 50px;
}
.wallet-platforms-row {
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dadada;
}
.wallet-os-overview {
  margin-top: 28px;
}
.wallet-os-check-item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;
}
.wallet-os-check-item::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
}
.wallet-os-check-item.checkgood::before,
.wallet-os-check-item.checkpass::before {
  width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #7EBF1E;
}
.wallet-os-check-item.checkfail::before {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 11px solid #F7931A;
}
.wallet-os-check-item.checkneutral::before {
  width: 12px;
	height: 12px;
	background: #aaa;
}
.wallet-os-check-title {
  margin-bottom: 5px;
  font-size: 22px;
  color: #13161F;
  line-height: 36px;
}
.wallet-os-check-details {
  font-size: 16px;
  color: #4D5060;
  line-height: 22px;
  text-align: left;
}
.wallet-points {
  max-width: 536px;
  min-width: 400px;
}
.os-selector {
  padding: 30px 25px 25px;
  background: #f8f8f8;
  max-width: 570px;
  width: 100%;
  margin-left: 65px;
  box-sizing: border-box;
}
.os-selector-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #DADADA;
}
.os-selector-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 17px;
  transform: translateY(1.5px);
  text-transform: uppercase;
  font-size: 15px;
  color: #13161F;
  background: none;
  border: none;
  outline: none;
}
.os-selector-tab + .os-selector-tab {
  margin-left: 15px;
}
.os-selector-tab.active {
  border-bottom: 2px solid #FF7E00;
  color: #ff7e00;
}
.os-selector-icon-active{
  display: none;
}
.os-selector-tab.active .os-selector-icon-active{
  display: block;
}
.os-selector-tab.active .os-selector-icon-inactive{
  display: none;
}
.os-selector-icon {
  margin-right: 10px;
}
.os-selector-content {
  display: none;
}
.os-selector-content.visible {
  display: block;
}
.os-selector-links-row {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.os-selector-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 55px;
  padding: 0;
  text-transform: uppercase;
}
.os-selector-link.btn-light {
  background: none;
}
.os-selector-link:first-child {
  margin-right: 25px;
}
.os-screenshot {
  margin: 0 auto;
  display: block;
}
.similar-wallets-table {
  margin-bottom: 50px;
}

.wallet-title {
  margin-bottom: 12px;
}
.wallet-os-ico {
  display: block;
  width: 18px;
  height: 18px;
}
.wallet-description {
  color: #9d9d9d;
  max-width: 770px;
  margin: 0 auto;
  font-size: 19px;
  line-height: 34px;
}
.show {
  display: block;
}

@media screen and (max-width: 1024px) {
  .wallet-platforms-row {
    flex-direction: column-reverse;
  }
  .wallet-points {
    max-width: initial;
    min-width: initial;
  }
  .os-selector {
    max-width: initial;
    margin: 0 0 40px;
  }
}