$platforms:
    mobile,
    desktop,
    hardware,
    web;

$oses:
    ios,
    android,
    windowsphone,
    blackberry,
    linux,
    mac,
    windows;

// Wallet menu
.walletmenu {
    text-align: center;
    position: relative;
    z-index: 90;

    > ul {
        display: inline-block;
        text-align: left;
        margin: 0;
        padding: 0;
        background-color: #fff;

        // Disable border radius of menu buttons
        // TODO: rework, so it doesn't rely on the order of submenus
        // &:hover > li:first-child,
        // &:hover > li:first-child + li {
        //     -webkit-border-bottom-left-radius: 0;
        //     -webkit-border-bottom-right-radius: 0;
        //     -moz-border-radius-bottomleft: 0;
        //     -moz-border-radius-bottomright: 0;
        //     border-bottom-left-radius: 0;
        //     border-bottom-right-radius: 0;
        // }

        > li.is-active > div {
            display: block;
        }
        > li > div> ul > li.active,
        > li > div> ul > li:hover {
            border: none;
        }
        > li > a {
            position: relative;
        }
        > li:hover > a,
        > li.is-active > a {
            border-bottom: 3px solid #ff7e00;
        }
        > li:hover > a::after,
        > li.is-active > a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 100%);
            border: 8px solid transparent;
            border-top: 8px solid #FF7E00;
            z-index: 15;
        } 
        > li > a:hover,
        > li.is-active > a {
            padding: 18px 10px 18px 42px;
        }
        li {
            display: inline-block;
            background-repeat: no-repeat;
            background-position: left 16px;
            padding: 0;
            margin: 0 40px;
            font-size: 93.75%;
            -moz-transition: background-color 400ms ease-out;
            -webkit-transition: background-color 400ms ease-out;
            transition: background-color 400ms ease-out;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a,
            a:link,
            a:active,
            a:visited {
                color: #383838;
            }
            a {
                white-space: nowrap;
                cursor: pointer;
                display: block;
                padding: 18px 10px 21px 42px;

            }
            
            div {
                display: none;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100%;
                transform: translate(-50%, 100%);
                 ul {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    background-color: #f8f8f8;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-top: 1px solid #dfdfdf;

                li {
                    font-size: 80%;
                    display: block;
                    margin: 0;
                    background-position: left 18px;

                    > a {
                        font-size: 15px;
                        background-image: url(/img/icons/wallet_select.svg);
                        background-repeat: no-repeat;
                        background-position: -32px center;
                        padding: 18px 32px 18px 32px;

                    }

                }
            }
            }

            // &.active,
            // &:hover {
            //     border-bottom: 3px solid #ff7e00;
            // }

            &:hover > a,
            &:hover > a:link,
            &:hover > a:active,
            &:hover > a:visited,
            &.active > a,
            &.active > a:link,
            &.active > a:active,
            &.active > a:visited {
                color: #ff7e00;
            }
        }
    }

    // Generating icon classes for platforms
    @each $platform in $platforms {
        .wallet-#{$platform} {
            background-image: url('/img/icons/wallet_menu_#{$platform}.svg');
        }
    }

    // Generating icon classes for OSes
    @each $os in $oses {
        .wallet-#{$os} {
            background-image: url('/img/os/wallet_menu_#{$os}.svg');
        }
    }
    .wallet-blackberry {
        background-size: 20px;
    }
}
.wallet-list {
    display: flex;
    flex-wrap: wrap;
}
.wallet-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
.wallet-wrapper .wallet-navigation {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.wallet-wrapper .accordion-content-wallets {
    display: none;
}
.is-expanded + .accordion-content{
    display: flex;
    flex-wrap: wrap;
}
.wallet-wrapper .accordion-tab-wallet {
    display: block;
}
.accordion-content-wallets {
    display: flex;
}
.accordion-tab-wallet {
    display: none;
}
.accordion-os.is-visible {
    display: block;
}
.accordion-label {
    font-size: 18px;
    color: #FF7E00;
    line-height: 30px;
}
.is-selected .accordion-label {
    font-size: 12px;
    color: #56585f;
    letter-spacing: 0.4px;
    line-height: normal;
    text-transform: uppercase;
}
.selected-item {
    font-size: 18px;
    color: #FF7E00;
    line-height: 20px;
    text-transform: capitalize; 
}

.accordion-tab {
    position: relative;
    cursor: pointer;
}
.accordion-tab::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 6px;
    background: url(../img/icons/ico_angle.svg) center no-repeat;
    background-size: contain;
}
.is-expanded.accordion-tab::after {
    transform: rotate(180deg);
}
.accordion-content {
    .wallet-desktop {
        background: url(../img/icons/wallet_menu_desktop.svg) center 15px no-repeat;
    }
    .wallet-hardware {
        background: url(../img/icons/wallet_menu_hardware.svg) center 15px no-repeat;
    }
    .wallet-mobile {
        background: url(../img/icons/wallet_menu_mobile.svg) center 15px no-repeat;
    }
    .wallet-web {
        background: url(../img/icons/wallet_menu_web.svg) center 15px no-repeat;
    }
    .wallet-linux {
        background: url(../img/icons/wallet_menu_linux.svg) center 15px no-repeat;
        background-size: 22px;
    }
    .wallet-mac {
        background: url(../img/icons/wallet_menu_mac.svg) center 15px no-repeat;
        background-size: 22px;
    }
    .wallet-windows {
        background: url(../img/icons/wallet_menu_windows.svg) center 15px no-repeat;
        background-size: 22px;
    }
    .wallet-android {
        background: url(../img/os/wallet_menu_android.svg) center 15px no-repeat;
        background-size: 22px;
    }
    .wallet-blackberry {
        background: url(../img/os/wallet_menu_blackberry.svg) center 15px no-repeat;
        background-size: 22px;
    }
    .wallet-ios {
        background: url(../img/os/wallet_menu_ios.svg) center 15px no-repeat;
        background-size: 22px;
    }
    .wallet-windowsphone {
        background: url(../img/os/wallet_menu_windowsphone.svg) center 15px no-repeat;
        background-size: 22px;
    }
}
@media handheld, only screen and ( min-width: 48em ) {
    .wallet-navigation-wrapper {
        position: relative;
        z-index: 15;
        background: #090c14;
    }
    .wallet-wrapper .walletmenu-mobile {
        display: flex;
        width: auto;
    }
    .wallet-wrapper .accordion-tab {
        width: 255px;
        height: 80px;
        padding: 17px 35px 17px 50px;
        box-sizing: border-box;
    }
    .accordion-tab-1 {
        z-index: 25
    }
    .accordion-tab-2 {
        z-index: 20
    }
    .accordion-tab-3 {
        z-index: 15
    }

    .accordion-tab-1::before,
    .accordion-tab-2::before {
        content: '';
        position: absolute;
        top: 0;
        right: -21px;
        width: 21px;
        height: 80px;
        background: url(../img/icons/dark-triangle.svg) center no-repeat;
        background-size: contain;
    }
    .is-expanded.accordion-tab-1::before,
    .is-expanded.accordion-tab-2::before {
        background: url(../img/icons/light-triangle.svg) center no-repeat;
        background-size: contain;
    }
    .wallet-wrapper .accordion {
        position: relative;
    }
    .wallet-wrapper .accordion-platform {
        border-left: 1px solid #37393d;
    }
    .wallet-wrapper .accordion-wallets {
        display: none;
        border-right: 1px solid #37393d;
    }
    .wallet-wrapper .is-visible.accordion-wallets {
        display: block;
    }
    .wallet-wrapper .accordion-content {
        position: absolute;
        top: 81px;
        right: 0;
        background: #1d2028;
    }
    .wallet-wrapper .platform-accordion-content {
        left: 0;
    }
    .accordion-platform .accordion-content,
    .accordion-os .accordion-content {
        width: 460px;
    }
    .accordion-item {
        width: 230px;
        height: 100px;
        margin: 0;
        border: 1px solid #27292e;
        box-sizing: border-box;
        text-align: center;
    }
    .accordion-item:hover {
        border: 1px solid #ff7e00;
    }
    .wallet-wrapper .is-selected .accordion-label {
        color: #CACACA;
    }
    .wallet-wrapper .selected-item {
        text-transform: uppercase;
    }
    .wallet-wrapper .is-expanded.accordion-tab {
        background: #1d2028;
    }
    .wallet-wrapper .wallet-list {
        // display: flex;
        // flex-wrap: wrap;
        width: 460px;
        padding: 0;
    }
    .wallet-wrapper .wallet-list-item {
        width: 230px;
        height: 100px;
        margin: 0;
        padding: 20px 10px;
        border: 1px solid #27292e;
        text-align: left;  
    }
    .wallet-wrapper .wallet-list-item:hover {
        border: 1px solid #ff7e00;  
    }
    .wallet-wrapper .wallet-list-item .wallet-list-item-link {
        font-size: 17px;
        color: #FFFFFF;
        line-height: 30px;
        font-weight: 600;
    }
    .wallet-wrapper .wallet-list-item .wallet-list-item-link img {
        display: inline-block;
        width: 50px;
        vertical-align: middle;
        height: 50px;
    }
    .wallet-wrapper .wallet-list-item-link br {
        display: none;
    }
    .accordion-link {
        display: block;
        padding: 50px 10px 20px;
        font-size: 17px;
        color: #FFFFFF;
        font-weight: 600;
    }
}
@media handheld, only screen and ( min-width: 67em ) {
    .wallet-wrapper .wallet-list {
        width: 690px;
    }
    .wallet-wrapper .accordion-tab {
        width: 300px;
    }
}
@media handheld, only screen and ( max-width: 48em ), only screen and ( max-device-width: 48em ) {
    .walletmenu {
        display: none;
    }
    .walletmenu-mobile {
        display: block;
    }
    .wallet-wrapper {
        display: block;
    }
    .wallet-wrapper .wallet-navigation {
        display: block;
    }
    .wallet-navigation-wrapper {
        background: #fff;
    }
    .wallet-wrapper .walletmenu-mobile {
        display: block;
        width: 100%;
    }
    .wallet-wrapper .accordion-tab {
        width: 100%;
    }
    .wallet-wrapper .is-expanded.accordion-tab {
        background: #f8f8f8;
    }
    .wallet-wrapper .accordion-content {
        position: static;
    }
    .accordion {
        margin-bottom: 2px;
    }
    .accordion-platform,
    .accordion-os {
        width: 100%;
    }
    .accordion-tab {
        width: 100%;
        height: 60px;
        padding: 15px 35px 15px 55px;
        box-sizing: border-box;
        background: #f8f8f8;
    }
    .accordion-tab::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 15px;
        width: 10px;
        height: 6px;
        background: url(../img/icons/ico_angle.svg) center no-repeat;
        background-size: contain;
    }
    .is-expanded.accordion-tab::after {
        transform: rotate(180deg);
    }
    .is-selected.accordion-tab {
        padding: 9px 35px 9px 55px;
    }
    .accordion-tab::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
    }
    .accordion-tab-1::before {
        background: url(../img/getting-started/number-1.svg) center no-repeat;
        background-size: contain;
    }
    .accordion-tab-2::before {
        background: url(../img/getting-started/number-2.svg) center no-repeat;
        background-size: contain;
    }
    .is-selected.accordion-tab::before {
        background: url(../img/icons/checkmark.svg) center no-repeat;
        background-size: contain;
    }
    .accordion-content {
        display: none;
    }
    .is-expanded + .accordion-content{
        // display: flex;
        // flex-wrap: wrap;
        padding: 15px;
    }
    .accordion-item {
        width: 48.1%;
        height: 93px;
        margin: 0 3% 10px 0;
        box-sizing: border-box;
        text-align: center;
        background-size: 30px;
    }
    .accordion-item:nth-child(even) {
        margin-right: 0;
    }
    
    .accordion-link {
        display: block;
        padding: 55px 0 15px;
        font-size: 15px;
        color: #13161F;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #dadada;
    }
    .accordion-link:hover,
    .accordion-link:active {
        padding: 54px 0 14px;
        border: 2px solid #ff7e00;
    }
    .accordion-wallets {
        display: none;
    }
    .accordion-wallets.is-visible {
        display: block;
        width: 100%;
    }
    .is-visible .accordion-tab-wallet {
        display: block;
    }
    .accordion-tab-3 {
        display: block;
    }
    .is-hidden-mobile {
        display: none;
    }
    .accordion-tab-3::before {
        background: url(../img/getting-started/number-3.svg) center no-repeat;
        background-size: contain;
    }
}
