.tooltip-trigger {
	position: relative;
}
.tooltip {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 200px;
	transform: translate(-50%, 100%);
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
	font-size: 12px;
	color: #13161F;
	line-height: 22px;
}

.wallet-selector {
	padding: 50px 0 25px;
}
.wallet-selector-row {
	display: flex;
}
.sidebar-selector {
	width: 270px;
	padding: 15px;
	margin-right: 130px;
	background: #f8f8f8;
}
.sidebar-selector-title {
	margin: 0 0 5px;
	font-size: 20px;
	color: #13161F;
	line-height: 36px;
}
.sidebar-selector-platforms-row {
	display: flex;
}
.sidebar-selector-platform {
	width: 100%;
}
.sidebar-selector-label-row {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	margin-bottom: 5px;
}
.sidebar-selector-label {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	color: #13161F;
	line-height: 30px;
}

.wallet-table-head {
	border: none;
}
.wallet-table {
	border-collapse: separate;
	border-spacing: 0 9px;
}
.wallet-table-title {
	font-weight: 400;
	font-size: 14px;
	color: #13161F;
	line-height: 1.4;
	text-align: center;
}
.wallet-label {
	font-weight: 600;
	font-size: 17px;
	color: #13161F;
	line-height: 1.4;
	vertical-align: middle;
}
.wallet-table-row {
	cursor: pointer;
}
.wallet-table-data {
	padding: 20px;
	border: 1px solid #DADADA;
	border-left: 0;
	border-right: 0;
}
.wallet-table-data:first-child {
	padding-right: 25px;
	border-left: 1px solid #DADADA;
}
.wallet-table-data:last-child {
	padding-right: 25px;
	border-right: 1px solid #DADADA;
}
.wallet-img {
	width: 35px;
	margin-right: 13px;
	vertical-align: middle;
}

.wallet-hints-row {
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.wallet-hint {
	display: flex;
	align-items: center;
	margin-right: 30px;
}
.wallet-good {
	margin: 0 auto;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #7EBF1E;
}
.wallet-caution {
	margin: 0 auto;
	width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 11px solid #F7931A;
}
.wallet-neutral {
	margin: 0 auto;
	width: 12px;
	height: 12px;
	background: #aaa;
}
.wallet-hint-text {
	margin-left: 8px;
	font-size: 14px;
	color: #13161F;
	line-height: 30px;
}

.wallet-table-headline {
	margin-bottom: 37px;
	text-align: center;
	font-size: 22px;
	color: #13161F;
	line-height: 36px;
}
.wallet-table-head:first-child .wallet-table-title {
	text-align: left;
	font-size: 22px;
	color: #13161F;
	line-height: 36px;
}