.footer_standard { 
	display: flex;
	padding: @ms1 @ms-1 @ms1;
	border-top: solid 1px @gray-300;
	flex-direction: column;
}
.footer_standard--leftbox {
	order: 1;
	display: flex;
	text-align: center;
	justify-content: center;
}

.footer_standard--leftbox ul {
	display: flex;
	flex-wrap: wrap;
	margin-top: @ms1;
}

.footer_standard--leftbox li {
	flex: 1 0 33%;
	opacity: @light-3;
	padding: @ms0 0;
	text-align: center;
	font-size: @ms-1;
}

.footer_standard--leftbox span {
	display: none;
}

.footer_standard--leftbox li:first-child {
	a {
		color: green;
	}
	
}

.footer_standard--rightbox {
	text-align: center;
	opacity: @light-3;	
	font-size: @ms-1;
}
.footer_standard--rightbox a,
.footer_standard--leftbox ul a {
	text-decoration: none;
	color: @black;
}

.footer_standard--sponsor {
	position: absolute;
}

@media screen and (min-width: 1020px) { 
	.footer_standard {
		justify-content: space-between;
		flex-direction: row;
	}
	.footer_standard--leftbox {
		justify-content: flex-start;
		order: -1;
	}

	.footer_standard--leftbox ul {
		margin-top: 0;
	}
	.footer_standard--leftbox li {
		flex-basis: auto;
		padding: 0 @ms0 0 0;
	}

	.footer_standard--rightbox {
		text-align: right;
		opacity: @light-3;
	}
}