<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <style>
        #animation-fairy {
            width:100%;
            height:100%;
            display:block;
            overflow: hidden;
            transform: translate3d(0,0,0);
            text-align: center;
            opacity: 1;
        }
    </style>
</head>
<body>

<div id="animation-fairy"></div>
<script type="text/javascript" src="/js/lottie.min.js"></script>
<script>
	fetch("/json/fairy.json")
	.then((response) => response.json())
	.then((animationData) => {
	    var params = {
        container: document.getElementById('animation-fairy'),
        renderer: 'html',
        loop: false,
        autoplay: false,
        animationData
	    };

	    var animFairy;

	    animFairy = lottie.loadAnimation(params);

	    function playFairyAnimation() {
        if (
            animFairy.firstFrame === animFairy.currentFrame || 
            animFairy.currentFrame === animFairy.totalFrames - 1
        ) {
            animFairy.goToAndPlay(animFairy.firstFrame);
        }
	    }

	    document.querySelector('#animation-fairy').addEventListener('click', playFairyAnimation);
    })
    .catch((e) => console.error("Error loading animation data: ", e));
</script>
</body>
</html>
