<div class="footer_standard">
	<div class="footer_standard--leftbox">
		<ul>
			<li><a href="/en/alerts" class="statusmenu{% if site.STATUS == 1 %} alert{% endif %}">Network Status</a></li>
			<li><a href="/{{ page.lang }}/{% translate legal url %}">{% translate menu-legal layout %}</a></li>
			{% case page.lang %}
			{% when 'ar' or 'es' or 'sl' %}
			<li><a href="/en/privacy">Privacy</a></li>
			{% else %}
			<li><a href="/{{ page.lang }}/{% translate privacy url %}">{% translate menu-privacy layout %}</a></li>
			{% endcase %}
			<li><a href="/{{ page.lang }}/{% translate press url %}">{% translate menu-press layout %}</a></li>
			<li><a href="/{{ page.lang }}/{% translate about-us url %}">{% translate menu-about-us layout %}</a></li>
			<li><a href="/en/blog">Blog</a></li>
		</ul>
	</div>
	<div class="footer_standard--rightbox">
		© Bitcoin Project 2009-{{ site.time | date: '%Y' }} {% translate footer layout %}
	</div>
	<div class="footer_standard--soponser">
	  <!--<div><span>{% translate sponsor layout %}</span> <a href="https://bitcoinfoundation.org/"><img src="/img/brand/bitcoinfoundation.png" alt="Bitcoin Foundation"></a></div>-->
	</div>
</div>	