<div class="footer_developer">
	<div class="footer_developer--header">
		<img class="footer_developer--logo" src="/img/components/header_standard--logo.svg">
		<h2>Bitcoin<span>Core</span></h2>
	</div>
	<div class="footer_developer--body">
		<div class="footer_developer--info">
			<p>Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network. Bitcoin is open-source; its design is public, nobody owns or controls Bitcoin and everyone can take part. Through many of its unique properties, Bitcoin allows exciting uses that could not be covered by any previous payment system.</p>
		</div>
		<div class="footer_developer--action">
			<div class="footer_developer--action--text">
				<h2>Developers Resources</h2>
			</div>
			<div class="footer_developer--action--buttonarea">
				<a href="/en/developer-documentation"><div class="footer_developer--action--button">
					Documentation
				</div></a>
			</div>
		</div>
	</div>
</div>