<div class="header_standard">
	<div class="header_standard--branding">
		<div class="header_standard--logo">
			<img src="header_standard/header_standard--logo.svg">
		</div>
		<div class="header_standard--title">
			<h2><a href="">Bitcoin</a></h2>
		</div>
	</div>
	<div class="header_standard--toggle">
		<img src="header_standard/header_standard--menu.svg">
	</div>

	<div class="header_standard--navigation">
		<ul class="header_standard--menu">
			<li class="header_standard--menu--child">
				<a class="header_standard--menu--toggle--introduction" href="#"><span aria-expanded="false">Introduction</span></a>
			</li>
			<li class="header_standard--menu--child">
				<a class="header_standard--menu--toggle--resources" href="#"><span aria-expanded="false">Resources</span></a>
			</li>
			<li><a href="#">Innovation</a></li>
			<li class="header_standard--menu--child">
				<a  class="header_standard--menu--toggle--participate" href="#"><span aria-expanded="false">Participate</span></a>
			</li>
			<li><a href="#">FAQ</a></li>
		</ul>

		<div class="header_standard--flags">
			<ul class='header_standard--flags--selector'>
			  <li>
			  	<a class="header_standard--menu--toggle--flags" href='#'>
			  		<div class="header_standard--flags--primary">
			  			<img src="flags/US.png"><strong>English</strong>
			  		</div>
			  	</a>
			  <li>
			    <ul class='header_standard--flags--dropdown'>
			      <li><a href='#'>About</a>
			      <li><a href='#'>Blog</a>
			      <li><a href='#'>Contact</a>
			    </ul>
			</ul>
		</div>
	</div>
</div>
<div class="header_standard--menu--dropdown-wrap">
	<div class="header_standard--menu--dropdown">
		<ul class="header_standard--menu--dropdown--introduction">
			<li><a href="#">Individuals</a></li>
			<li><a href="#">Businesses</a></li>
			<li><a href="#">Developers</a></li>
			<li><a href="#">Getting Started</a></li>
			<li><a href="#">How it works</a></li>
			<li><a href="#">You need to know</a></li>
		</ul>

		<ul class="header_standard--menu--dropdown--resources">
			<li><a href="#">Resources</a></li>
			<li><a href="#">Community</a></li>
			<li><a href="#">Documentation</a></li>
			<li><a href="#">Vocalbulary</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Bitcoin Core</a></li>
		</ul>

		<ul class="header_standard--menu--dropdown--participate">
			<li><a href="#">Support Bitcoin</a></li>
			<li><a href="#">Running a full node</a></li>
			<li><a href="#">Development</a></li>
		</ul>

		<ul class="header_standard--menu--dropdown--flags">
			<li><a href="#"><img src="flags/IN.png"><span>Bahasa Indonesia</span></a></li>
			<li><a href="#"><img src="flags/DK.png"><span>Dansk</span></a></li>
			<li><a href="#"><img src="flags/DE.png"><span>Deutsch</span></a></li>
			<li><a href="#"><img src="flags/ES.png"><span>Español</span></a></li>
			<li><a href="#"><img src="flags/FR.png"><span>Français</span></a></li>
			<li><a href="#"><img src="flags/IT.png"><span>Italiano</span></a></li>
			<li><a href="#"><img src="flags/HU.png"><span>Magyar</span></a></li>
			<li><a href="#"><img src="flags/NL.png"><span>Nederlands</span></a></li>
			<li><a href="#"><img src="flags/PL.png"><span>Polski</span></a></li>
			<li><a href="#"><img src="flags/BR.png"><span>Português Brasil</span></a></li>
			<li><a href="#"><img src="flags/RO.png"><span>Română</span></a></li>
			<li><a href="#"><img src="flags/SL.png"><span>Slovenščina</span></a></li>
			<li><a href="#"><img src="flags/SV.png"><span>Svenska</span></a></li>
			<li><a href="#"><img src="flags/TR.png"><span>Türkçe</span></a></li>
			<li><a href="#"><img src="flags/GR.png"><span>Ελληνικά</span></a></li>
			<li><a href="#"><img src="flags/BG.png"><span>български</span></a></li>
			<li><a href="#"><img src="flags/RU.png"><span>Русский</span></a></li>
			<li><a href="#"><img src="flags/UK.png"><span>Українська</span></a></li>
			<li><a href="#"><img src="flags/AR.png"><span>العربية</span></a></li>
			<li><a href="#"><img src="flags/FA.png"><span>فارسی</span></a></li>
			<li><a href="#"><img src="flags/KO.png"><span>한국의</span></a></li>
			<li><a href="#"><img src="flags/JP.png"><span>日本語</span></a></li>
			<li><a href="#"><img src="flags/CH.png"><span>简体中文</span></a></li>
			<li><a href="#"><img src="flags/CH.png"><span>繁體中文</span></a></li>
		</ul>
	</div>
</div>
<div class="header_standard--outside" aria-toggle="start">
	<div class="header_standard--outside--flags">
		<div class="header_standard--outside--button">
			<span class="header_standard--outside--changelang">Change Language</span>
			<a class="header_standard--outside--toggle" aria-expanded="false" href="#">
				<div>
					<img src="flags/US.png"><span>English</span>
				</div>
			</a>
		</div>
		<ul class="header_standard--outside--sub-menu">
			<li><a href="#"><img src="flags/IN.png"><span>Bahasa Indonesia</span></a></li>
			<li><a href="#"><img src="flags/DK.png"><span>Dansk</span></a></li>
			<li><a href="#"><img src="flags/DE.png"><span>Deutsch</span></a></li>
			<li><a href="#"><img src="flags/ES.png"><span>Español</span></a></li>
			<li><a href="#"><img src="flags/FR.png"><span>Français</span></a></li>
			<li><a href="#"><img src="flags/IT.png"><span>Italiano</span></a></li>
			<li><a href="#"><img src="flags/HU.png"><span>Magyar</span></a></li>
			<li><a href="#"><img src="flags/NL.png"><span>Nederlands</span></a></li>
			<li><a href="#"><img src="flags/PL.png"><span>Polski</span></a></li>
			<li><a href="#"><img src="flags/BR.png"><span>Português Brasil</span></a></li>
			<li><a href="#"><img src="flags/RO.png"><span>Română</span></a></li>
			<li><a href="#"><img src="flags/SL.png"><span>Slovenščina</span></a></li>
			<li><a href="#"><img src="flags/SV.png"><span>Svenska</span></a></li>
			<li><a href="#"><img src="flags/TR.png"><span>Türkçe</span></a></li>
			<li><a href="#"><img src="flags/GR.png"><span>Ελληνικά</span></a></li>
			<li><a href="#"><img src="flags/BG.png"><span>български</span></a></li>
			<li><a href="#"><img src="flags/RU.png"><span>Русский</span></a></li>
			<li><a href="#"><img src="flags/UK.png"><span>Українська</span></a></li>
			<li><a href="#"><img src="flags/AR.png"><span>العربية</span></a></li>
			<li><a href="#"><img src="flags/FA.png"><span>فارسی</span></a></li>
			<li><a href="#"><img src="flags/KO.png"><span>한국의</span></a></li>
			<li><a href="#"><img src="flags/JP.png"><span>日本語</span></a></li>
			<li><a href="#"><img src="flags/CH.png"><span>简体中文</span></a></li>
			<li><a href="#"><img src="flags/CH.png"><span>繁體中文</span></a></li>
		</ul>
	</div>
	<ul class="header_standard--outside--menu">
		<div class="header_standard--outside--menu--title">
		Menu
		</div>
		<li>
			<span>Introduction</span>
			<ul class="header_standard--outside--menu_list">
				<li><a href="#">Individuals</a></li>
				<li><a href="#">Businesses</a></li>
				<li><a href="#">Developers</a></li>
				<li><a href="#">Getting Started</a></li>
				<li><a href="#">How it works</a></li>
				<li><a href="#">You need to know</a></li>
			</ul>
		</li>
		<li><span>Resources</span>
			<ul class="header_standard--outside--menu_list">
				<li><a href="#">Resources</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Vocalbulary</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Bitcoin Core</a></li>
			</ul>
		</li>
		<li><a href="#">Innovation</a></li>
		<li><span>Participate</span>
			<ul class="header_standard--outside--menu_list">
				<li><a href="#">Support Bitcoin</a></li>
				<li><a href="#">Running a full node</a></li>
				<li><a href="#">Development</a></li>
			</ul>
		</li>
		<li><a href="#">FAQ</a></li>
	</ul>
</div>