---
lang: fr
menufor:
- id: bitcoin-for-individuals
  text: Particuliers
- id: bitcoin-for-businesses
  text: Entreprises
- id: bitcoin-for-developers
  text: Développeurs
- id: bitcoin-for-enthusiasts
  text: Passionnés
menu:
- id: how-it-works
  text: Comment ça marche
- id: vocabulary
  text: Vocabulaire
- id: resources
  text: Ressources
- id: community
  text: Communauté
- id: development
  text: Développement
- id: foundation
  text: Fondation
- id: about
  text: À propos
button:
  wallet: Choisissez votre porte-monnaie
  know: Vous devez savoir
  support: Supporter Bitcoin
footer: © Bitcoin Project 2009–2013 Publié sous la <a href="http://creativecommons.org/licenses/MIT/" target="_blank">licence MIT</a>
---
<!DOCTYPE HTML>
<html lang="{{ page.lang }}">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta property="og:image" content="http://bitcoin.org/img/opengraph.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{{ page.title }}</title>
{% lesscss main.less %}
<script type="text/javascript" src="/js/main.js"></script>
<link rel="shortcut icon" href="/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/img/logo_ios.png"/>
</head>
<body>
{% if site.ALERT or site.ALERT_fr %}
  {% if site.ALERT_CLASS %}{% assign class = site.ALERT_CLASS%}{% endif %}{% if site.ALERT_CLASS_fr %}{% assign class = site.ALERT_CLASS_fr%}{% endif %}
  {% if site.ALERT %}{% assign alert = site.ALERT%}{% endif %}{% if site.ALERT_fr %}{% assign alert = site.ALERT_fr%}{% endif %}
  <div class="alert-message {{ class }}">
    <div><div>{{ alert }}</div></div>
  </div>
{% endif %}
  <div id="head"><div>
    <select id="langselect" onchange="window.location=this.value;">
      {% for lang in site.langs %}{% assign la = lang[0]%}{% if lang[0] == page.lang %}{% assign active = ' selected="selected"'%}{% else %}{% assign active = ''%}{% endif %}
      <option value="/{{ lang[0] }}/{{ site.section[page.id][la] }}"{{ active }}>{{ lang[1] }}</option>
      {% endfor %}
    </select>
    <ul id="lang">
      <li><a href="#" onclick="return false;">{{ site.langs[page.lang] }}</a>
      <ul>
        {% for lang in site.langs %}{% if lang[0] != page.lang %}{% assign la = lang[0]%}
        <li><a href="/{{ lang[0] }}/{{ site.section[page.id][la] }}">{{ lang[1] }}</a></li>
        {% endif %}{% endfor %}
      </ul>
      </li>
    </ul>
    <a id="logo" href="/{{ page.lang }}/"><img src="/img/logotop.svg" alt="Bitcoin"></a>
    <a href="#" id="menumobile" onclick="mobileshow(event);"></a>
    <ul id="menufor">
      {% for link in page.menufor %}{% assign id = link.id%}{% capture fullurl %}{{ '/' | append:page.lang | append:'/' | append:site.section[id][page.lang] | append:'.html' }}{% endcapture %}
      <li{% if page.url == fullurl %} class="active"{% endif %}><a href="/{{ page.lang }}/{{ site.section[id][page.lang] }}">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
    <ul id="menu">
        {% for link in page.menu %}{% assign id = link.id%}{% capture fullurl %}{{ '/' | append:page.lang | append:'/' | append:site.section[id][page.lang] | append:'.html' }}{% endcapture %}
        <li{% if page.url == fullurl %} class="active"{% endif %}><a href="/{{ page.lang }}/{{ site.section[id][page.lang] }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
  </div></div>
  <div id="body">
    <div id="content"{% if page.mode == "wide" %} class="wide"{% endif %}>
    {{ content }}
    </div>
    <div id="rightbox"{% if page.mode == "wide" %} class="wide"{% endif %}>
      <div id="choose">
        <a href="/{{page.lang}}/{{site.section.choose-your-wallet[page.lang]}}"><img src="/img/but_start.svg" alt="{{page.button.wallet}}">{{page.button.wallet}}</a>
      </div>
      <div id="before">
        <a href="/{{page.lang}}/{{site.section.you-need-to-know[page.lang]}}"><img src="/img/but_warn.svg" alt="{{page.button.know}}">{{page.button.know}}</a>
      </div>
      <div id="support">
        <a href="/{{page.lang}}/{{site.section.support-bitcoin[page.lang]}}"><img src="/img/but_involve.svg" alt="{{page.button.support}}">{{page.button.support}}</a>
      </div>
    </div>
    <div id="footer"><div>{{page.footer}}</div></div>
  </div>
  <script type="text/javascript">svgfallback();</script>
</body>

</html>
