<!DOCTYPE HTML>
<html lang="{{ page.lang }}">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta property="og:image" content="https://bitcoin.org/img/opengraph.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>{% capture title %}{% translate title %}{% endcapture %}{% if title != '' %}{{ title }}{% else %}{{ page.title }}{% endif %}</title>
{% lesscss main.less %}
<!--[if lt IE 8]>{% lesscss ie.css %}<script type="text/javascript" src="/js/ie.js"></script><![endif]-->
{% if page.lang == 'ar' or page.lang == 'fa' %}{% lesscss rtl.less %}{% endif %}
{% if page.lang == 'bg' or page.lang == 'pl' or page.lang == 'ru' or page.lang == 'tr' or page.lang == 'zh_CN' or page.lang == 'zh_TW' %}{% lesscss sans.less %}{% endif %}
<script type="text/javascript" src="/js/main.js"></script>
{% if page.lang == 'de' or page.lang == 'es' or page.lang == 'hu' or page.lang == 'it' or page.lang == 'nl' or page.lang == 'pl' or page.lang == 'ru' or page.lang == 'tr' %}
<script src="/js/hyphenator.js" type="text/javascript"></script>
<script type="text/javascript">
if(typeof(legacyIE)==='undefined'){
	Hyphenator.config({
		{% if page.lang == 'ru' %}minwordlength : 7{% else %}minwordlength : 9{% endif %}
	});
	Hyphenator.run();
}
</script>
{% endif %}
<link rel="shortcut icon" href="/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/img/logo_ios.png"/>
</head>
<body>
{% if site.ALERT %}
  <div class="alert-message">
    <div><div>{{ site.ALERT }}</div></div>
  </div>
{% endif %}
  <div class="head"><div>
    <select id="langselect" class="langselect" onchange="window.location=this.value;">
    {% for lang in site.langsorder %}{% if lang.id == page.lang %}{% assign active = ' selected="selected"'%}{% else %}{% assign active = ''%}{% endif %}
      <option value="/{{ lang.id }}/{% translate {{page.id}} url {{lang.id}} %}"{{ active }}>{{ site.langs[lang.id] }}</option>
    {% endfor %}
    </select>
    <ul class="lang">
      <li><a href="#" onclick="return false;">{{ site.langs[page.lang] }}</a>
      <ul>
      {% for lang in site.langsorder %}{% if lang.id != page.lang %}
        <li><a href="/{{ lang.id }}/{% translate {{page.id}} url {{lang.id}} %}">{{ site.langs[lang.id] }}</a></li>
      {% endif %}{% endfor %}
      </ul>
      </li>
    </ul>
    <a class="logo" href="/{{ page.lang }}/"><img src="/img/logotop.svg" alt="Bitcoin"></a>
    <a id="menumobile" class="menumobile" onclick="mobileMenuShow(event);" href="#"></a>
    <ul id="menusimple" class="menusimple">
      <li><a href="#" onclick="mobileMenuHover(event);">{% translate menu-intro layout %}</a>
        <ul>
          <li{% if page.id == 'bitcoin-for-individuals' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate bitcoin-for-individuals url %}">{% translate menu-bitcoin-for-individuals layout %}</a></li>
          <li{% if page.id == 'bitcoin-for-businesses' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate bitcoin-for-businesses url %}">{% translate menu-bitcoin-for-businesses layout %}</a></li>
          <li{% if page.id == 'bitcoin-for-developers' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate bitcoin-for-developers url %}">{% translate menu-bitcoin-for-developers layout %}</a></li>
          {% case page.lang %}
          {% when 'ar' or 'fa' or 'pl' or 'zh_TW' %}
          <li{% if page.id == 'choose-your-wallet' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate choose-your-wallet url %}">{% translate menu-choose-your-wallet layout %}</a></li>
          {% else %}
          <li{% if page.id == 'getting-started' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate getting-started url %}">{% translate menu-getting-started layout %}</a></li>
          {% endcase %}
          <li{% if page.id == 'how-it-works' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate how-it-works url %}">{% translate menu-how-it-works layout %}</a></li>
          <li{% if page.id == 'you-need-to-know' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate you-need-to-know url %}">{% translate menu-you-need-to-know layout %}</a></li>
        </ul>
      </li>
      <li><a href="#" onclick="mobileMenuHover(event);">{% translate menu-resources layout %}</a>
        <ul>
          <li{% if page.id == 'resources' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate resources url %}">{% translate menu-resources layout %}</a></li>
          <li{% if page.id == 'community' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate community url %}">{% translate menu-community layout %}</a></li>
          <li{% if page.id == 'development' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate development url %}">{% translate menu-development layout %}</a></li>
          <li{% if page.id == 'vocabulary' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate vocabulary url %}">{% translate menu-vocabulary layout %}</a></li>
          {% case page.lang %}
          {% when 'ar' or 'fa' or 'pl' or 'zh_TW' %}
          {% else %}
          <li{% if page.id == 'events' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate events url %}">{% translate menu-events layout %}</a></li>
          {% endcase %}
          {% if page.lang == 'en' %}<li{% if page.id == 'press' %} class="active"{% endif %}><a href="/en/press">Press</a></li>{% endif %}
        </ul>
      </li>
      <li{% if page.id == 'innovation' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate innovation url %}">{% translate menu-innovation layout %}</a></li>
      <li{% if page.id == 'support-bitcoin' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate support-bitcoin url %}">{% translate menu-support-bitcoin layout %}</a></li>
      {% case page.lang %}
      {% when 'id' or 'sv' %}
      {% else %}
      <li{% if page.id == 'faq' %} class="active"{% endif %}><a href="/{{ page.lang }}/{% translate faq url %}">{% translate menu-faq layout %}</a></li>
      {% endcase %}
    </ul>
  </div></div>
  <div class="body">
    <div id="content" class="content">
    {{ content }}
    </div>
    <div class="footer"><div>
    <a href="/en/alerts">Network Status</a>
    {% case page.lang %}
    {% when 'ar' or 'fa' or 'id' or 'it' or 'nl' or 'pl' or 'tr' or 'zh_TW' %}
    <a href="/en/legal">Legal</a>
    {% else %}
    <a href="/{{ page.lang }}/{% translate legal url %}">{% translate menu-legal layout %}</a>
    {% endcase %}
    {% case page.lang %}
    {% when 'ar' or 'fa' %}
    <a href="/en/about-us">About bitcoin.org</a>
    {% else %}
    <a href="/{{ page.lang }}/{% translate about-us url %}">{% translate menu-about-us layout %}</a>
    {% endcase %}
    <span>© Bitcoin Project 2009-2014 {% translate footer layout %}</span>
    </div></div>
  </div>
  <div class="foundation-banner">
    {% case page.lang %}
    {% when 'ar' or 'bg' or 'fa' or 'id' or 'it' or 'nl' or 'pl' or 'tr' or 'zh_TW' %}
    <div>{% translate sponsor layout en %} <a href="https://bitcoinfoundation.org/"><img src="/img/brand/logo_foundation.svg" alt="Foundation"> The Bitcoin Foundation</a></div>
    {% else %}
    <div>{% translate sponsor layout %} <a href="https://bitcoinfoundation.org/"><img src="/img/brand/logo_foundation.svg" alt="Foundation"> The Bitcoin Foundation</a></div>
    {% endcase %}
  </div>
  <script type="text/javascript">fallbackSVG();</script>
</body>

</html>
