---
lang: en
menufor:
- text: Individuals
  url: bitcoin-for-individuals
- text: Organizations
  url: bitcoin-for-organizations
- text: Developers
  url: bitcoin-for-developers
- text: Enthusiasts
  url: bitcoin-for-enthusiasts
menu:
- text: How it works
  url: how-it-works
- text: Vocabulary
  url: vocabulary
- text: Resources
  url: resources
- text: Community
  url: community
- text: Development
  url: development
- text: Foundation
  url: foundation
- text: About
  url: about
---
<!DOCTYPE HTML>
<html lang="{{ page.lang }}">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>{{ page.title }}</title>
{% lesscss bootstrap.less %}
<script type="text/javascript" src="/js/main.js"></script>
<link rel="shortcut icon" href="/favicon.png">
</head>
<body>
{% if site.ALERT or site.ALERT_en %}
  {% if site.ALERT_CLASS %}{% assign class = site.ALERT_CLASS%}{% endif %}{% if site.ALERT_CLASS_en %}{% assign class = site.ALERT_CLASS_en%}{% endif %}
  {% if site.ALERT %}{% assign alert = site.ALERT%}{% endif %}{% if site.ALERT_en %}{% assign alert = site.ALERT_en%}{% endif %}
  <div class="alert-message {{ class }}">
    <div><div>{{ alert }}</div></div>
  </div>
{% endif %}
  <div id="head">
    <div class="wrap">
    <ul id="lang">
      <li><a href="#" onclick="return false;">{{ site.langs[page.lang] }}</a>
      <ul>
        {% for lang in site.langs %}{% if lang[0] != page.lang %}{% assign la = lang[0]%}
        <li><a href="/{{ lang[0] }}/{{ site.section[page.id][la] }}">{{ lang[1] }}</a></li>
        {% endif %}{% endfor %}
      </ul>
      </li>
    </ul>
    <div id="logo"><a href="/{{ page.lang }}/"><span>Bitcoin</span></a></div>
    <ul id="menufor">
      {% for link in page.menufor %}{% assign active = nil %}{% capture fullurl %}{{ '/' | append:page.lang | append:'/' | append:link.url | append:'.html' }}{% endcapture %}{% if page.url == fullurl %}{% assign active = 'active' %}{% endif %}
      <li{% if active %} class="{{ active }}"{% endif %}><a href="/{{ page.lang }}/{{ link.url }}">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
    </div>
    <ul id="menu" class="wrap">
        {% for link in page.menu %}{% assign active = nil %}{% capture fullurl %}{{ '/' | append:page.lang | append:'/' | append:link.url | append:'.html' }}{% endcapture %}{% if page.url == fullurl %}{% assign active = 'active' %}{% endif %}
        <li{% if active %} class="{{ active }}"{% endif %}><a href="/{{ page.lang }}/{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <div id="body">
    <div class="wrap">
      <div id="content">
    {{ content }}
      </div>
      <div id="rightbox">
        <div id="choose">
          <a href="/en/choose-your-wallet"><img src="/img/but_start.svg" alt="Choose your wallet">Choose your wallet</a>
        </div>
        <div id="before">
          <a href="/en/you-need-to-know"><img src="/img/but_warn.svg" alt="You need to know">You need to know</a>
        </div>
        <div id="support">
          <a href="/en/support-bitcoin"><img src="/img/but_involve.svg" alt="Support Bitcoin">Support Bitcoin</a>
        </div>
      </div>
      <div id="footer"><div>© <a href="https://bitcoinfoundation.org/" target="_blank">The Bitcoin Foundation</a> 2009–2013 Released under the <a href="http://creativecommons.org/licenses/MIT/" target="_blank">MIT license</a></div></div>
    </div>
  </div>
  <script type="text/javascript">svgfallback();</script>
</body>

</html>
