---
lang: ru
menufor:
- text: Частным лицам
  url: биткоин-частным-лицам
- text: Бизнесу
  url: биткоин-бизнесу
- text: Разработчикам
  url: биткоин-разработчикам
- text: Энтузиастам
  url: биткоин-энтузиастам
menu:
- text: Как это работает
  url: как-это-работает
- text: Термины
  url: термины
- text: Ресурсы
  url: ресурсы
- text: Сообщество
  url: сообщество
- text: Разработка
  url: разработка
- text: Фонд
  url: фонд
- text: О Биткоине
  url: описание
---
<!DOCTYPE HTML>
<html lang="{{ page.lang }}">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta property="og:image" content="http://bitcoin.org/img/opengraph.png" />
<title>{{ page.title }}</title>
{% lesscss bootstrap.less %}
<script type="text/javascript" src="/js/main.js"></script>
<link rel="stylesheet" type="text/css" href="/ru/css/main.css" />
<link rel="shortcut icon" href="/favicon.png">
</head>
<body>
{% if site.ALERT or site.ALERT_ru %}
  {% if site.ALERT_CLASS %}{% assign class = site.ALERT_CLASS%}{% endif %}{% if site.ALERT_CLASS_ru %}{% assign class = site.ALERT_CLASS_ru%}{% endif %}
  {% if site.ALERT %}{% assign alert = site.ALERT%}{% endif %}{% if site.ALERT_ru %}{% assign alert = site.ALERT_ru%}{% endif %}
  <div class="alert-message {{ class }}">
    <div><div>{{ alert }}</div></div>
  </div>
{% endif %}
  <div id="head">
    <div class="wrap">
    <ul id="lang">
      <li><a href="#" onclick="return false;">{{ site.langs[page.lang] }}</a>
      <ul>
        {% for lang in site.langs %}{% if lang[0] != page.lang %}{% assign la = lang[0]%}
        <li><a href="/{{ lang[0] }}/{{ site.section[page.id][la] }}">{{ lang[1] }}</a></li>
        {% endif %}{% endfor %}
      </ul>
      </li>
    </ul>
    <div id="logo"><a href="/{{ page.lang }}/"><span>Bitcoin</span></a></div>
    <ul id="menufor">
      {% for link in page.menufor %}{% assign active = nil %}{% capture fullurl %}{{ '/' | append:page.lang | append:'/' | append:link.url | append:'.html' }}{% endcapture %}{% if page.url == fullurl %}{% assign active = 'active' %}{% endif %}
      <li{% if active %} class="{{ active }}"{% endif %}><a href="/{{ page.lang }}/{{ link.url }}">{{ link.text }}</a></li>
      {% endfor %}
    </ul>
    </div>
    <ul id="menu" class="wrap">
        {% for link in page.menu %}{% assign active = nil %}{% capture fullurl %}{{ '/' | append:page.lang | append:'/' | append:link.url | append:'.html' }}{% endcapture %}{% if page.url == fullurl %}{% assign active = 'active' %}{% endif %}
        <li{% if active %} class="{{ active }}"{% endif %}><a href="/{{ page.lang }}/{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <div id="body">
    <div class="wrap">
      <div id="content">
    {{ content }}
      </div>
      <div id="rightbox">
        <div id="choose">
          <a href="/ru/выберите-свой-кошелек"><img src="/img/but_start.svg" alt="Choose your wallet">Выберите свой кошелек</a>
        </div>
        <div id="before">
          <a href="/ru/вам-нужно-знать"><img src="/img/but_warn.svg" alt="You need to know">Вам нужно знать</a>
        </div>
        <div id="support">
          <a href="/ru/поддержать-биткоин"><img src="/img/but_involve.svg" alt="Support Bitcoin">Поддержать Биткоин</a>
        </div>
      </div>
      <div id="footer"><div>© Bitcoin Project 2009–2013 Программное обеспечение распространяется под лицензией <a href="http://creativecommons.org/licenses/MIT/" target="_blank">MIT</a></div></div>
    </div>
  </div>
  <script type="text/javascript">svgfallback();</script>
</body>

</html>
