---
layout: base-en
---
    <div>
      <h1>Version history</h1>
      <ul class="unstyled">
      {% for post in site.categories.releases %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          {{ post.date | date:"%Y-%m-%d" }}
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="versiontext">
      <h1>{{ page.title }} <small>{{ page.date | date:"%e %B %Y" }}</small></h1>
      {% if page.src %}
      <p>
        <a href="{{ page.src }}">Full announcement (including signatures)</a>
      </p>
      {% endif %}
      {{ content }}
    </div>
