---
layout: simple
section: news
---
    <div class="container">
      <div class="row">
        <div class="span5">
          <h5>News archive</h5>
          <ul class="unstyled">
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
              {{ post.date | date:"%Y-%m-%d" }}
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="span11">
          <h1>{{ page.title }} <small>{{ page.date | date:"%e %B %Y" }}</small></h1>
          {% if page.src %}
          <p>
            <a href="{{ page.src }}">Full announcement (including signatures)</a>
          </p>
          {% endif %}
          {{ content }}
        </div>
      </div>
    </div>
